{% include 'overall_header.html' %}

<a name="maincontent"></a>

{% if S_EDIT_ALBUM %}

	<script type="text/javascript">
	// <![CDATA[
		/**
		* Handle displaying/hiding several options based on the album type
		*
		* borrowed from phpBB3
		* @author: phpBB Group
		* @location: acp_forums.html
		*/
		function display_options(value)
		{
			{% if not S_ADD_ACTION and S_ALBUM_ORIG_UPLOAD %}
				if (value == {{ ALBUM_CAT }})
				{
					dE('type_actions', 1);
				}
				else
				{
					dE('type_actions', -1);
				}
			{% endif %}

			if (value == {{ ALBUM_UPLOAD }})
			{
				dE('album_upload_options', 1);
			}
			else if (value == {{ ALBUM_CAT }})
			{
				dE('album_upload_options', -1);
			}

			{% EVENT phpbbgallery_core_adm_album_display_options %}
		}

		/**
		* Init the wanted display functionality if javascript is enabled.
		* If javascript is not available, the user is still able to properly administrate.
		*/
		window.addEventListener('load', function()
		{
			var album_type = document.getElementById('album_type');
			if (album_type)
			{
				display_options(album_type.value);
			}
		});

	// ]]>
	</script>

	<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	<h1>{{ lang('TITLE') }} {% if ALBUM_NAME %}:: {{ ALBUM_NAME }}{% endif %}</h1>

	<p>{{ lang('ALBUM_EDIT_EXPLAIN') }}</p>

	{% if S_ERROR %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ ERROR_MSG }}</p>
		</div>
	{% endif %}

	{% EVENT phpbbgallery_core_adm_album_type_warnings %}

	<form id="acp_gallery" method="post" action="{{ U_EDIT_ACTION }}" enctype="multipart/form-data">

	<fieldset>
		<legend>{{ lang('ALBUM_SETTINGS') }}</legend>
		<dl>
			<dt><label for="album_type">{{ lang('ALBUM_TYPE') }}{{ lang('COLON') }}</label></dt>
			<dd><select id="album_type" name="album_type" onchange="display_options(this.options[this.selectedIndex].value);">{{ S_ALBUM_TYPE_OPTIONS }}</select></dd>
		</dl>
	{% if not S_ADD_ACTION and S_ALBUM_ORIG_UPLOAD %}
	<div id="type_actions">
		<dl>
			<dt><label for="type_action">{{ lang('DECIDE_MOVE_DELETE_CONTENT') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="type_action" value="delete"{% if not S_MOVE_ALBUM_OPTIONS %} checked="checked" id="type_action"{% endif %} /> {{ lang('DELETE_ALL_IMAGES') }}</label></dd>
			{% if S_MOVE_ALBUM_OPTIONS %}<dd><label><input type="radio" class="radio" name="type_action" id="type_action" value="move" checked="checked" /> {{ lang('MOVE_IMAGES_TO') }}</label> <select name="to_album_id">{{ S_MOVE_ALBUM_OPTIONS }}</select></dd>{% endif %}
		</dl>
	</div>
	{% endif %}
		<dl>
			<dt><label for="parent_id">{{ lang('ALBUM_PARENT') }}{{ lang('COLON') }}</label></dt>
			<dd><select id="parent_id" name="parent_id"><option value="0"{% if not S_ALBUM_PARENT_ID %} selected="selected"{% endif %}>{{ lang('NO_PARENT_ALBUM') }}</option>{{ S_PARENT_OPTIONS }}</select></dd>
		</dl>
		<dl>
			<dt><label for="album_name">{{ lang('ALBUM_NAME') }}{{ lang('COLON') }}</label></dt>
			<dd><input class="text medium" type="text" id="album_name" name="album_name" value="{{ ALBUM_NAME }}" maxlength="255" /></dd>
		</dl>
		<dl>
			<dt><label for="album_desc">{{ lang('ALBUM_DESC') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ALBUM_DESC_EXPLAIN') }}</span></dt>
			<dd><textarea id="album_desc" name="album_desc" rows="5" cols="45">{{ ALBUM_DESC }}</textarea></dd>
		<dd><label><input type="checkbox" class="radio" name="desc_parse_bbcode"{% if S_DESC_BBCODE_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_BBCODE') }}</label>
			<label><input type="checkbox" class="radio" name="desc_parse_smilies"{% if S_DESC_SMILIES_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_SMILIES') }}</label>
			<label><input type="checkbox" class="radio" name="desc_parse_urls"{% if S_DESC_URLS_CHECKED %} checked="checked"{% endif %} /> {{ lang('PARSE_URLS') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ALBUM_ICON_PICKER') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ALBUM_ICON_PICKER_EXPLAIN') }}</span></dt>
			<dd>
			{% if L_ICON_UPLOADED %}<p class="confirmbox">{{ L_ICON_UPLOADED }}</p>{% endif %}
			{% if S_NO_ICONS_AVAILABLE %}
				{{ lang('NO_ICONS_AVAILABLE') }}
			{% else %}
				<ul class="gallery-icon-picker" style="list-style: none; margin: 0; padding: 0;">
				{% for iconrow in iconrow %}
					<li style="display: inline-block; margin: 0 8px 8px 0;">
						<label style="display: block; text-align: center; cursor: pointer;">
							<input type="radio" name="album_icon_pick" value="{{ iconrow.ICON_FILE }}"{% if iconrow.S_SELECTED %} checked="checked"{% endif %} /><br />
							<img src="{{ iconrow.ICON_SRC }}" alt="{{ iconrow.ICON_FILE }}" style="max-width: 48px; max-height: 48px;" />
						</label>
					</li>
				{% endfor %}
				</ul>
			{% endif %}
			</dd>
			<dd>
				<input type="file" name="icon_file" accept="image/svg+xml,image/png,image/gif,image/jpeg,image/webp" />
				<input class="button2" type="submit" name="upload_icon" value="{{ lang('UPLOAD_ICON') }}" />
			</dd>
		</dl>
		<dl>
			<dt><label for="album_image">{{ lang('ALBUM_IMAGE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ALBUM_IMAGE_EXPLAIN') }}</span></dt>
			<dd><input class="text medium" type="text" id="album_image" name="album_image" value="{{ ALBUM_IMAGE }}" maxlength="255" /></dd>
		{% if ALBUM_IMAGE_SRC %}
			<dd><img src="{{ ALBUM_IMAGE_SRC }}" alt="{{ lang('ALBUM_IMAGE') }}" /></dd>
		{% endif %}
		</dl>
		{% if ALBUM_PASSWORD_OPTION_IS_INCLUDED %}
		<dl>
			<dt><label for="album_password">{{ lang('ALBUM_PASSWORD') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ALBUM_PASSWORD_EXPLAIN') }}</span></dt>
			<dd><input type="password" id="album_password" name="album_password" value="{% if S_ALBUM_PASSWORD_SET %}&#x20;&#x20;&#x20;&#x20;&#x20;&#x20;{% endif %}" /></dd>
		</dl>
		<dl>
			<dt><label for="album_password_confirm">{{ lang('ALBUM_PASSWORD_CONFIRM') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ALBUM_PASSWORD_CONFIRM_EXPLAIN') }}</span></dt>
			<dd><input type="password" id="album_password_confirm" name="album_password_confirm" value="{% if S_ALBUM_PASSWORD_SET %}&#x20;&#x20;&#x20;&#x20;&#x20;&#x20;{% endif %}" /></dd>
		</dl>
		{% if S_ALBUM_PASSWORD_SET %}
		<dl>
			<dt><label for="album_password_unset">{{ lang('ALBUM_PASSWORD_UNSET') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ALBUM_PASSWORD_UNSET_EXPLAIN') }}</span></dt>
			<dd><input id="album_password_unset" name="album_password_unset" type="checkbox" /></dd>
		</dl>
		{% endif %}
		{% endif %}
		<dl>
			<dt><label for="album_perm_from">{{ lang('COPY_PERMISSIONS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('COPY_PERMISSIONS_EXPLAIN') }}</span></dt>
			<dd><select id="album_perm_from" name="album_perm_from"><option value="0" selected="selected">{{ lang('DO_NOT_COPY_PERMISSIONS') }}</option>{{ S_ALBUM_OPTIONS }}</select></dd>
		</dl>
		{% if S_ADD_ACTION %}
		<dl>
			<dt><label>{{ lang('ADD_ALBUM_ON_TOP') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="add_on_top" value="1" /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="add_on_top" value="0" id="add_on_top" checked="checked" /> {{ lang('NO') }}</label></dd>
		</dl>
		{% endif %}
	</fieldset>
	<div id="album_upload_options">
		<fieldset>
			<legend>{{ lang('GENERAL_ALBUM_SETTINGS') }}</legend>
		<dl>
			<dt><label for="album_status">{{ lang('ALBUM_STATUS') }}{{ lang('COLON') }}</label></dt>
			<dd><select id="album_status" name="album_status">{{ S_STATUS_OPTIONS }}</select></dd>
		</dl>
		<dl>
			<dt><label for="album_watermark">{{ lang('ALBUM_WATERMARK') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ALBUM_WATERMARK_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="album_watermark" value="1"{% if S_ALBUM_WATERMARK %} id="album_watermark" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="album_watermark" value="0"{% if not S_ALBUM_WATERMARK %} id="album_watermark" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="album_sort_key">{{ lang('DEFAULT_SORT_METHOD') }}{{ lang('COLON') }}</label><br /><span>{{ lang('DEFAULT_SORT_EXPLAIN') }}</span></dt>
			<dd><select name="album_sort_key" id="album_sort_key">{{ ALBUM_SORT_KEY_OPTIONS }}</select></dd>
		</dl>
		<dl>
			<dt><label for="album_sort_dir">{{ lang('DEFAULT_SORT_ORDER') }}{{ lang('COLON') }}</label><br /><span>{{ lang('DEFAULT_SORT_EXPLAIN') }}</span></dt>
			<dd><select name="album_sort_dir" id="album_sort_dir">{{ ALBUM_SORT_DIR_OPTIONS }}</select></dd>
		</dl>
		<dl>
			<dt><label for="display_in_rrc">{{ lang('DISPLAY_IN_RRC') }}{{ lang('COLON') }}</label></dt>
			<dd><label><input type="radio" class="radio" name="display_in_rrc" value="1"{% if S_DISPLAY_IN_RRC %} id="display_in_rrc" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="display_in_rrc" value="0"{% if not S_DISPLAY_IN_RRC %} id="display_in_rrc" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="display_subalbum_list">{{ lang('LIST_SUBALBUMS') }}{{ lang('COLON') }}</label><br /><span>{{ lang('LIST_SUBALBUMS_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="display_subalbum_list" value="1"{% if S_DISPLAY_SUBALBUM_LIST %} id="display_subalbum_list" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="display_subalbum_list" value="0"{% if not S_DISPLAY_SUBALBUM_LIST %} id="display_subalbum_list" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="display_on_index">{{ lang('LIST_INDEX') }}{{ lang('COLON') }}</label><br /><span>{{ lang('LIST_INDEX_EXPLAIN') }}</span></dt>
			<dd><label><input type="radio" class="radio" name="display_on_index" value="1"{% if S_DISPLAY_ON_INDEX %} id="display_on_index" checked="checked"{% endif %} /> {{ lang('YES') }}</label>
				<label><input type="radio" class="radio" name="display_on_index" value="0"{% if not S_DISPLAY_ON_INDEX %} id="display_on_index" checked="checked"{% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		{% EVENT phpbbgallery_core_adm_album_upload_options %}
		</fieldset>
	</div>

	{% EVENT phpbbgallery_core_adm_album_type_options %}
	<fieldset class="submit-buttons">
		<legend>{{ lang('SUBMIT') }}</legend>
		<input class="button1" type="submit" id="submit" name="update" value="{{ lang('SUBMIT') }}" />&nbsp;
		<input class="button2" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% elseif S_DELETE_ALBUM %}

	<a href="{{ U_BACK }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	<h1>{{ lang('ALBUM_DELETE') }}</h1>

	<p>{{ lang('ALBUM_DELETE_EXPLAIN') }}</p>

	{% if S_ERROR %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ ERROR_MSG }}</p>
		</div>
	{% endif %}

	<form id="acp_gallery" method="post" action="{{ U_ACTION }}">

		<fieldset>
			<legend>{{ lang('ALBUM_DELETE') }}</legend>
		<dl>
			<dt><label>{{ lang('ALBUM_NAME') }}{{ lang('COLON') }}</label></dt>
			<dd><strong>{{ ALBUM_NAME }}</strong></dd>
		</dl>
		{% if S_ALBUM_POST %}
			<dl>
				<dt><label for="delete_action">{{ lang('ACTION') }}{{ lang('COLON') }}</label></dt>
				<dd><label><input type="radio" class="radio" id="delete_action" name="action_images" value="delete" checked="checked" /> {{ lang('DELETE_ALL_IMAGES') }}</label></dd>
				{% if S_MOVE_ALBUM_OPTIONS %}
					<dd><label><input type="radio" class="radio" name="action_images" value="move" /> {{ lang('MOVE_IMAGES_TO') }}</label> <select name="images_to_id" id="images_to_id">{{ S_MOVE_ALBUM_OPTIONS }}</select></dd>
				{% endif %}
			</dl>
		{% endif %}
		{% if S_HAS_SUBALBUMS %}
			<dl>
				<dt><label for="sub_delete_action">{{ lang('ACTION') }}{{ lang('COLON') }}</label></dt>
				<dd><label><input type="radio" class="radio" id="sub_delete_action" name="action_subalbums" value="delete" checked="checked" /> {{ lang('DELETE_SUBALBUMS') }}</label></dd>
				{% if S_ALBUMS_LIST %}
					<dd><label><input type="radio" class="radio" name="action_subalbums" value="move" /> {{ lang('MOVE_SUBALBUMS_TO') }}</label> <select name="subalbums_to_id" id="subalbums_to_id">{{ S_ALBUMS_LIST }}</select></dd>
				{% endif %}
			</dl>
		{% endif %}

		<p class="quick">
			<input class="button1" type="submit" name="update" value="{{ lang('SUBMIT') }}" />
		</p>
		{{ S_FORM_TOKEN }}
		</fieldset>
	</form>
{% else %}

	<h1>{{ lang('ALBUM_ADMIN') }}</h1>

	<p>{{ lang('ALBUM_ADMIN_EXPLAIN') }}</p>

	{% if ERROR_MSG %}
		<div class="errorbox">
			<h3>{{ lang('WARNING') }}</h3>
			<p>{{ ERROR_MSG }}</p>
		</div>
	{% endif %}

	{% if S_RESYNCED %}
		<script type="text/javascript">
		// <![CDATA[
			var close_waitscreen = 1;
		// ]]>
		</script>

		<div class="successbox">
			<h3>{{ lang('NOTIFY') }}</h3>
			<p>{{ lang('ALBUM_RESYNCED') }}</p>
		</div>
	{% endif %}

	<p><strong>{{ NAVIGATION }}{% if S_NO_ALBUMS %} [<a href="{{ U_EDIT }}">{{ lang('EDIT') }}</a> | <a href="{{ U_DELETE }}">{{ lang('DELETE') }}</a> | <a href="{{ U_SYNC }}">{{ lang('RESYNC') }}</a>]{% endif %}</strong></p>

	{% if albums|length %}
		<table cellspacing="1">
			<col class="row1" /><col class="row1" /><col class="row2" />
		<tbody>
		{% for albums in albums %}
			<tr>
				<td style="width: 5%; text-align: center;">{{ albums.FOLDER_IMAGE }}</td>
				<td>
					{% if albums.ALBUM_IMAGE_SRC %}<div style="float: {{ S_CONTENT_FLOW_BEGIN }}; margin-right: 5px;"><img src="{{ albums.ALBUM_IMAGE_SRC }}" alt="{{ albums.ALBUM_NAME }}" /></div>{% endif %}
					<strong><a href="{{ albums.U_ALBUM }}">{{ albums.ALBUM_NAME }}</a></strong>
					{% if albums.ALBUM_DESCRIPTION %}<br /><span>{{ albums.ALBUM_DESCRIPTION }}</span>{% endif %}
					{% if albums.S_ALBUM_POST %}<br /><br /><span>{{ lang('IMAGES') }}{{ lang('COLON') }} <strong>{{ albums.ALBUM_IMAGES }}</strong></span>{% endif %}
				</td>
				<td style="vertical-align: top; width: 100px; text-align: right; white-space: nowrap;">
					{% if albums.S_FIRST_ROW and not albums.S_LAST_ROW %}
						{{ ICON_MOVE_UP_DISABLED }}
						<a href="{{ albums.U_MOVE_DOWN }}">{{ ICON_MOVE_DOWN }}</a>
					{% elseif not albums.S_FIRST_ROW and not albums.S_LAST_ROW %}
						<a href="{{ albums.U_MOVE_UP }}">{{ ICON_MOVE_UP }}</a>
						<a href="{{ albums.U_MOVE_DOWN }}">{{ ICON_MOVE_DOWN }}</a>
					{% elseif albums.S_LAST_ROW and not albums.S_FIRST_ROW %}
						<a href="{{ albums.U_MOVE_UP }}">{{ ICON_MOVE_UP }}</a>
						{{ ICON_MOVE_DOWN_DISABLED }}
					{% else %}
						{{ ICON_MOVE_UP_DISABLED }}
						{{ ICON_MOVE_DOWN_DISABLED }}
					{% endif %}
					<a href="{{ albums.U_EDIT }}">{{ ICON_EDIT }}</a>
					<a href="{{ albums.U_SYNC }}" onclick="popup_progress_bar();">{{ ICON_SYNC }}</a>
					<a href="{{ albums.U_DELETE }}">{{ ICON_DELETE }}</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	{% endif %}

	<form id="aselect" method="post" action="{{ U_SEL_ACTION }}">

	<fieldset class="quick">
		{{ lang('SELECT_ALBUM') }}{{ lang('COLON') }} <select name="parent_id" onchange="if(this.options[this.selectedIndex].value != -1){ this.form.submit(); }">{{ ALBUM_BOX }}</select>

		<input class="button2" type="submit" value="{{ lang('GO') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
	</form>

	<form id="albums" method="post" action="{{ U_ACTION }}">

	<fieldset class="quick">
		<input type="hidden" name="action" value="add" />

		<input type="text" name="album_name" value="" maxlength="255" />
		<input class="button2" name="addalbum" type="submit" value="{{ lang('CREATE_ALBUM') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
	</form>
{% endif %}

{% include 'overall_footer.html' %}
