{% include 'overall_header.html' %}

<a name="maincontent"></a>

<h1>{{ lang('TITLE') }}</h1>

<p>{{ lang('EXPLAIN') }}</p>

<form id="list" method="post" action="{{ U_ACTION }}">

<fieldset class="display-options search-box">
	{{ lang('LOG_GALLERY_SHOW_LOGS') }}{{ lang('COLON') }} <select name="lf">
		<option value="all"{% if S_SELECT_OPTION == 'all' %} SELECTED{% endif %}>{{ lang('ALL') }}</option>
		<option value="admin"{% if S_SELECT_OPTION == 'admin' %} SELECTED{% endif %}>{{ lang('ACP_LOG_GALLERY_ADM') }}</option>
		<option value="moderator"{% if S_SELECT_OPTION == 'moderator' %} SELECTED{% endif %}>{{ lang('ACP_LOG_GALLERY_MOD') }}</option>
		<option value="system"{% if S_SELECT_OPTION == 'system' %} SELECTED{% endif %}>{{ lang('ACP_LOG_GALLERY_SYSTEM') }}</option>
	</select>&nbsp;<input type="submit" class="button2" name="filter" value="{{ lang('SEARCH') }}" />
</fieldset>

{% if pagination|length %}
<div class="pagination top-pagination">
	{% include 'pagination.html' %}
</div>
{% endif %}

{% if log|length %}
	<table class="table1 zebra-table fixed-width-table">
	<thead>
	<tr>
		<th style="width: 10%;">{{ lang('USERNAME') }}</th>
		<th style="width: 10%;">{{ lang('IP') }}</th>
		<th style="width: 15%;">{{ lang('TIME') }}</th>
		<th>{{ lang('ACTION') }}</th>
		<th style="width: 10%;">{{ lang('LOGVIEW_VIEWALBUM') }}</th>
		<th style="width: 10%;">{{ lang('LOGVIEW_VIEWIMAGE') }}</th>
		{% if S_CLEARLOGS %}
			<th style="width: 50px;">{{ lang('MARK') }}</th>
		{% endif %}
	</tr>
	</thead>
	<tbody>
	{% for log in log %}
		<tr>
			<td>{{ log.U_LOG_USER }}</td>
			<td style="text-align: center;">{{ log.U_LOG_IP }}</td>
			<td style="text-align: center;">{{ log.U_TIME }}</td>
			<td>{{ log.U_LOG_ACTION }}</td>
			<td style="text-align: center;">{% if log.U_ALBUM_LINK %}<a href="{{ log.U_ALBUM_LINK }}">{{ lang('LOGVIEW_VIEWALBUM') }}</a>{% else %}&nbsp;{% endif %}</td>
			<td style="text-align: center;">{% if log.U_IMAGE_LINK %}<a href="{{ log.U_IMAGE_LINK }}">{{ lang('LOGVIEW_VIEWIMAGE') }}</a>{% else %}&nbsp;{% endif %}</td>
			{% if S_CLEARLOGS %}
				<td style="text-align: center;"><input type="checkbox" class="radio" name="mark[]" value="{{ log.U_LOG_ID }}" /></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
	</table>

{% if pagination|length %}
	<div class="pagination">
		{% include 'pagination.html' %}
	</div>
{% endif %}

{% else %}
	<div class="errorbox">
		<p>{{ lang('NO_ENTRIES') }}</p>
	</div>
{% endif %}

<fieldset class="display-options">
	{{ lang('DISPLAY_LOG') }}{{ lang('COLON') }} &nbsp;{{ S_LIMIT_DAYS }}&nbsp;{{ lang('SORT_BY') }}{{ lang('COLON') }} {{ S_SORT_KEY }} {{ S_SORT_DIR }}
	<input class="button2" type="submit" value="{{ lang('GO') }}" name="sort" />
	{{ S_FORM_TOKEN }}
</fieldset>
<hr />

{% if S_SHOW_FORUMS %}
	<fieldset class="quick">
		{{ lang('SELECT_FORUM') }}{{ lang('COLON') }} <select name="f" onchange="if(this.options[this.selectedIndex].value != -1){ this.form.submit(); }">{{ S_FORUM_BOX }}</select>
		<input class="button2" type="submit" value="{{ lang('GO') }}" />
	</fieldset>
{% endif %}

{% if log|length and S_CLEARLOGS %}
	<fieldset class="quick">
		<input class="button2" type="submit" name="delmarked" value="{{ lang('DELETE_MARKED') }}" /><br />
		<p class="small"><a href="#" onclick="marklist('list', 'mark', true); return false;">{{ lang('MARK_ALL') }}</a> &bull; <a href="#" onclick="marklist('list', 'mark', false); return false;">{{ lang('UNMARK_ALL') }}</a></p>
	</fieldset>
{% endif %}

</form>

{% include 'overall_footer.html' %}
