{% include 'overall_header.html' %}

<a name="maincontent"></a>

<h1>{{ ACP_GALLERY_TITLE }}</h1>
<p>{{ ACP_GALLERY_TITLE_EXPLAIN }}</p>

{% if S_STORAGE_MIGRATION_PROGRESS %}
	<div class='successbox'>
		<h3>{% if S_STORAGE_MIGRATION_MORE %}{{ lang('STORAGE_MIGRATION_PROGRESS') }}{% else %}{{ lang('STORAGE_MIGRATION_COMPLETE') }}{% endif %}</h3>
		<p>{{ lang('STORAGE_MIGRATION_RESULT', S_STORAGE_MIGRATED, S_STORAGE_SKIPPED, S_STORAGE_FAILED) }}</p>
	</div>
	{% if S_STORAGE_MIGRATION_FAILED %}
		<div class='errorbox'><p>{{ lang('STORAGE_MIGRATION_FAILED_EXPLAIN') }}</p></div>
	{% endif %}
	{% if S_STORAGE_MIGRATION_MORE %}
		<form id='storage_migration_continue_form' method='post' action='{{ U_ACTION }}'>
			<input type='hidden' name='storage_migration_continue' value='1' />
			<input type='hidden' name='storage_after_id' value='{{ S_STORAGE_AFTER_ID }}' />
			<input type='hidden' name='storage_migrated' value='{{ S_STORAGE_MIGRATED }}' />
			<input type='hidden' name='storage_skipped' value='{{ S_STORAGE_SKIPPED }}' />
			<input type='hidden' name='storage_failed' value='{{ S_STORAGE_FAILED }}' />
			{{ S_FORM_TOKEN }}
			<p class='submit-buttons'><input class='button1' type='submit' value='{{ lang('STORAGE_MIGRATION_CONTINUE') }}' /></p>
		</form>
		<script>
			(function () {
				var continueForm = document.getElementById('storage_migration_continue_form');
				var continueButton = continueForm.querySelector('input[type="submit"]');
				continueButton.disabled = true;
				window.setTimeout(function () {
					continueButton.disabled = false;
					continueForm.submit();
				}, 1250);
			})();
		</script>
	{% else %}
		<p><a href='{{ U_ACTION }}' class='button1'>{{ lang('BACK') }}</a></p>
	{% endif %}
{% endif %}

{% if S_DIMENSION_SYNC_PROGRESS %}
	<div class="successbox">
		<h3>{% if S_DIMENSION_SYNC_MORE %}{{ lang('RESYNC_IMAGE_DIMENSIONS_PROGRESS') }}{% else %}{{ lang('RESYNC_IMAGE_DIMENSIONS_COMPLETE') }}{% endif %}</h3>
		<p>{{ lang('RESYNC_IMAGE_DIMENSIONS_RESULT', S_DIMENSION_PROCESSED, S_DIMENSION_UPDATED, S_DIMENSION_FAILED) }}</p>
	</div>
	{% if S_DIMENSION_SYNC_FAILED %}
		<div class="errorbox"><p>{{ lang('RESYNC_IMAGE_DIMENSIONS_FAILED_EXPLAIN') }}</p></div>
	{% endif %}
	{% if S_DIMENSION_SYNC_MORE %}
		<form id="dimension_sync_continue_form" method="post" action="{{ U_ACTION }}">
			<input type="hidden" name="dimension_sync_continue" value="1" />
			<input type="hidden" name="dimension_after_id" value="{{ S_DIMENSION_AFTER_ID }}" />
			<input type="hidden" name="dimension_processed" value="{{ S_DIMENSION_PROCESSED }}" />
			<input type="hidden" name="dimension_updated" value="{{ S_DIMENSION_UPDATED }}" />
			<input type="hidden" name="dimension_failed" value="{{ S_DIMENSION_FAILED }}" />
			{{ S_FORM_TOKEN }}
			<p class="submit-buttons"><input class="button1" type="submit" value="{{ lang('RESYNC_IMAGE_DIMENSIONS_CONTINUE') }}" /></p>
		</form>
		<script>
			(function () {
				var continueForm = document.getElementById('dimension_sync_continue_form');
				var continueButton = continueForm.querySelector('input[type="submit"]');
				continueButton.disabled = true;
				window.setTimeout(function () {
					continueButton.disabled = false;
					continueForm.submit();
				}, 1250);
			})();
		</script>
	{% else %}
		<p><a href="{{ U_ACTION }}" class="button1">{{ lang('BACK') }}</a></p>
	{% endif %}
{% endif %}


{% for mods in mods|default([]) %}
	<fieldset>
		<legend>{{ lang('VERSION_CHECK') }}</legend>
		<p style="font-weight: bold; color: {% if mods.S_UP_TO_DATE %}#228822{% else %}#BC2A4D{% endif %};">{{ mods.UP_TO_DATE }}</p>
		<dl>
			<dt><label>{{ lang('CURRENT_VERSION') }}</label></dt>
			<dd><strong>{{ mods.CURRENT_VERSION }}</strong></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('LATEST_VERSION') }}</label></dt>
			<dd><strong>{{ mods.LATEST_VERSION }}</strong></dd>
		</dl>
		{% if not mods.S_UP_TO_DATE %}
			<dl>
				<dt><label>{{ lang('DOWNLOAD_LATEST') }}</label></dt>
				<dd><strong><a href="{{ mods.DOWNLOAD }}">{{ lang('DOWNLOAD') }} {{ mods.TITLE }} {{ mods.LATEST_VERSION }}</a></strong></dd>
			</dl>
			<dl>
				<dt><label>{{ lang('ANNOUNCEMENT_TOPIC') }}</label></dt>
				<dd><strong><a href="{{ mods.ANNOUNCEMENT }}">{{ lang('RELEASE_ANNOUNCEMENT') }}</a></strong></dd>
			</dl>
		{% endif %}
	</fieldset>
{% endfor %}

{% if S_GALLERY_OVERVIEW %}
	<table cellspacing="1">
		<caption>{{ lang('GALLERY_STATS') }}</caption>
		<col class="col1" /><col class="col2" /><col class="col1" /><col class="col2" />
	<thead>
	<tr>
		<th>{{ lang('STATISTIC') }}</th>
		<th>{{ lang('VALUE') }}</th>
		<th>{{ lang('STATISTIC') }}</th>
		<th>{{ lang('VALUE') }}</th>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>{{ lang('NUMBER_IMAGES') }}{{ lang('COLON') }}</td>
		<td><strong>{{ TOTAL_IMAGES }}</strong></td>
		<td>{{ lang('TOTAL_VIEWS') }}{{ lang('COLON') }}</td>
		<td><strong>{{ TOTAL_VIEWS }}</strong></td>
	</tr>
	<tr>
		<td>{{ lang('IMAGES_PER_DAY') }}{{ lang('COLON') }}</td>
		<td><strong>{{ IMAGES_PER_DAY }}</strong></td>
		<td>{{ lang('NUMBER_ALBUMS') }}{{ lang('COLON') }}</td>
		<td><strong>{{ TOTAL_ALBUMS }}</strong></td>
	</tr>
	<tr>
		<td>{{ lang('NUMBER_PERSONALS') }}{{ lang('COLON') }}</td>
		<td><strong>{{ TOTAL_PERSONALS }}</strong></td>
		<td>{{ lang('GUPLOAD_DIR_SIZE') }}{{ lang('COLON') }}</td>
		<td><strong>{{ GUPLOAD_DIR_SIZE }}</strong></td>
	</tr>
	<tr>
		<td>{{ lang('MEDIUM_DIR_SIZE') }}{{ lang('COLON') }}</td>
		<td><strong>{{ MEDIUM_DIR_SIZE }}</strong></td>
		<td>{{ lang('CACHE_DIR_SIZE') }}{{ lang('COLON') }}</td>
		<td><strong>{{ CACHE_DIR_SIZE }}</strong></td>
	</tr>
	<tr>
		<td>{{ lang('GALLERY_VERSION') }}{{ lang('COLON') }}</td>
		<td><strong>{{ GALLERY_VERSION }}</strong></td>
		<td></td>
		<td></td>
	</tr>
	</tbody>
	</table>

	<table cellspacing="1">
		<caption>{{ lang('GALLERY_SYSTEM_STATUS') }}</caption>
		<col class="col1" /><col class="col2" /><col class="col1" />
	<tbody>
	<tr>
		<th colspan="3">{{ lang('GALLERY_STORAGE') }}</th>
	</tr>
	<tr>
		<td>{{ lang('ACP_FILES_DIR_STATE') }}</td>
		<td style="color: {% if U_FILE_DIR_STATE_ERROR %}#CC0000;{% else %}#009900;{% endif %}"><strong>{{ U_FILE_DIR_STATE }}</strong></td>
		<td>{{ lang('GALLERY_REQUIREMENT_REQUIRED') }}</td>
	</tr>
	<tr>
		<td>{{ lang('ACP_CORE_DIR_STATE') }}</td>
		<td style="color: {% if U_CORE_DIR_STATE_ERROR %}#CC0000;{% else %}#009900;{% endif %}"><strong>{{ U_CORE_DIR_STATE }}</strong></td>
		<td>{{ lang('GALLERY_REQUIREMENT_REQUIRED') }}</td>
	</tr>
	<tr>
		<td>{{ lang('ACP_SOURCE_DIR_STATE') }}</td>
		<td style="color: {% if U_SOURCE_DIR_STATE_ERROR %}#CC0000;{% else %}#009900;{% endif %}"><strong>{{ U_SOURCE_DIR_STATE }}</strong></td>
		<td>{{ lang('GALLERY_REQUIREMENT_REQUIRED') }}</td>
	</tr>
	<tr>
		<td>{{ lang('ACP_MEDIUM_DIR_STATE') }}</td>
		<td style="color: {% if U_MEDIUM_DIR_STATE_ERROR %}#CC0000;{% else %}#009900;{% endif %}"><strong>{{ U_MEDIUM_DIR_STATE }}</strong></td>
		<td>{{ lang('GALLERY_REQUIREMENT_REQUIRED') }}</td>
	</tr>
	<tr>
		<td>{{ lang('ACP_MINI_DIR_STATE') }}</td>
		<td style="color: {% if U_MINI_DIR_STATE_ERROR %}#CC0000;{% else %}#009900;{% endif %}"><strong>{{ U_MINI_DIR_STATE }}</strong></td>
		<td>{{ lang('GALLERY_REQUIREMENT_REQUIRED') }}</td>
	</tr>
	<tr>
		<th>{{ lang('GALLERY_RUNTIME') }}</th>
		<th>{{ lang('VALUE') }}</th>
		<th>{{ lang('GALLERY_REQUIREMENT') }}</th>
	</tr>
	{% for check in runtime_checks|default([]) %}
	<tr>
		<td><strong>{{ check.NAME }}</strong></td>
		<td style="color: {% if check.S_ERROR %}#CC0000;{% elseif check.S_AVAILABLE %}#009900;{% else %}#666666;{% endif %}">{{ check.VERSION }}</td>
		<td>{{ check.REQUIREMENT }}</td>
	</tr>
	{% endfor %}
	</tbody>
	</table>

	<table cellspacing="1">
		<caption>{{ lang('GALLERY_ADDONS') }}</caption>
		<col class="col1" /><col class="col2" /><col class="col1" />
	<thead>
	<tr>
		<th>{{ lang('EXTENSION') }}</th>
		<th>{{ lang('GALLERY_ADDON_VERSION') }}</th>
		<th>{{ lang('GALLERY_ADDON_BENEFIT') }}</th>
		<th>{{ lang('VALUE') }}</th>
	</tr>
	</thead>
	{% for group in addon_groups|default([]) %}
	<tbody>
	<tr>
		<th colspan="4">{{ group.TITLE }}</th>
	</tr>
	{% for addon in group.addons|default([]) %}
	<tr>
		<td><strong>{{ addon.NAME }}</strong><br /><small>{{ addon.EXTENSION }}</small></td>
		<td>{{ addon.VERSION }}</td>
		<td>{{ addon.DESCRIPTION }}</td>
		<td style="color: {% if addon.S_ENABLED %}#009900;{% elseif addon.S_MISSING %}#CC0000;{% else %}#BC8A00;{% endif %}"><strong>{{ addon.STATUS }}</strong></td>
	</tr>
	{% endfor %}
	</tbody>
	{% endfor %}
	</table>

	{% if S_STORAGE_DISTRIBUTED %}
	<fieldset>
		<legend>{{ lang('STORAGE_MIGRATION') }}</legend>
		<p>{{ lang('STORAGE_MIGRATION_STATUS', S_STORAGE_MIGRATION_PENDING, S_STORAGE_MIGRATION_DISTRIBUTED, S_STORAGE_MIGRATION_INVALID) }}</p>
		{% if S_STORAGE_MIGRATION_ISSUES %}<p class='errorbox'>{{ lang('STORAGE_MIGRATION_INVALID_EXPLAIN') }}</p>{% endif %}
		{% if S_STORAGE_MIGRATION_AVAILABLE %}
		<form id='action_storage_migrate_form' method='post' action='{{ U_ACTION }}'>
			<input type='hidden' name='action' value='storage_migrate' />
			<p class='submit-buttons'><input class='button1' type='submit' value='{{ lang('STORAGE_MIGRATION_RUN') }}' /></p>
		</form>
		{% endif %}
	</fieldset>
	{% endif %}

	<fieldset>
		<form id="action_images_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt><label for="action_images">{{ lang('RESYNC_IMAGECOUNTS') }}</label>
					<br /><span>{{ lang('RESYNC_IMAGECOUNTS_EXPLAIN') }}</span></dt>
				<dd><input type="hidden" name="action" value="images" /><span class="gallery-operation-help-actions"><input class="button2" type="submit" id="action_images" name="action_images" value="{{ lang('RUN') }}" /><button class="gallery-operation-help-button" type="button" data-gallery-operation-help-open="gallery_operation_help_image_counts" aria-controls="gallery_operation_help_image_counts" aria-haspopup="dialog" aria-label="{{ lang('INFORMATION') }}: {{ lang('RESYNC_IMAGECOUNTS') }}" title="{{ lang('INFORMATION') }}">i</button></span></dd>
			</dl>
		</form>

		<form id="action_personals_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt><label for="action_personals">{{ lang('RESYNC_PERSONALS') }}</label></dt>
				<dd><input type="hidden" name="action" value="personals" /><span class="gallery-operation-help-actions"><input class="button2" type="submit" id="action_personals" name="action_personals" value="{{ lang('RUN') }}" /><button class="gallery-operation-help-button" type="button" data-gallery-operation-help-open="gallery_operation_help_personals" aria-controls="gallery_operation_help_personals" aria-haspopup="dialog" aria-label="{{ lang('INFORMATION') }}: {{ lang('RESYNC_PERSONALS') }}" title="{{ lang('INFORMATION') }}">i</button></span></dd>
			</dl>
		</form>

		<form id="action_stats_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt><label for="action_stats">{{ lang('RESYNC_STATS') }}</label></dt>
				<dd><input type="hidden" name="action" value="stats" /><span class="gallery-operation-help-actions"><input class="button2" type="submit" id="action_stats" name="action_stats" value="{{ lang('RUN') }}" /><button class="gallery-operation-help-button" type="button" data-gallery-operation-help-open="gallery_operation_help_stats" aria-controls="gallery_operation_help_stats" aria-haspopup="dialog" aria-label="{{ lang('INFORMATION') }}: {{ lang('RESYNC_STATS') }}" title="{{ lang('INFORMATION') }}">i</button></span></dd>
			</dl>
		</form>

		<form id="action_image_dimensions_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt><label for="action_image_dimensions">{{ lang('RESYNC_IMAGE_DIMENSIONS') }}</label>
					<br /><span>{{ lang('RESYNC_IMAGE_DIMENSIONS_EXPLAIN') }}</span></dt>
				<dd><input type="hidden" name="action" value="image_dimensions" /><span class="gallery-operation-help-actions"><input class="button2" type="submit" id="action_image_dimensions" name="action_image_dimensions" value="{{ lang('RUN') }}" /><button class="gallery-operation-help-button" type="button" data-gallery-operation-help-open="gallery_operation_help_image_dimensions" aria-controls="gallery_operation_help_image_dimensions" aria-haspopup="dialog" aria-label="{{ lang('INFORMATION') }}: {{ lang('RESYNC_IMAGE_DIMENSIONS') }}" title="{{ lang('INFORMATION') }}">i</button></span></dd>
			</dl>
		</form>

		<form id="action_last_images_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt><label for="action_last_images">{{ lang('RESYNC_LAST_IMAGES') }}</label></dt>
				<dd><input type="hidden" name="action" value="last_images" /><span class="gallery-operation-help-actions"><input class="button2" type="submit" id="action_last_images" name="action_last_images" value="{{ lang('RUN') }}" /><button class="gallery-operation-help-button" type="button" data-gallery-operation-help-open="gallery_operation_help_last_images" aria-controls="gallery_operation_help_last_images" aria-haspopup="dialog" aria-label="{{ lang('INFORMATION') }}: {{ lang('RESYNC_LAST_IMAGES') }}" title="{{ lang('INFORMATION') }}">i</button></span></dd>
			</dl>
		</form>

		{% if S_FOUNDER %}
		<form id="action_purge_cache_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt><label for="action_purge_cache">{{ lang('PURGE_CACHE') }}</label>
					<br /><span>{{ lang('GALLERY_PURGE_CACHE_EXPLAIN') }}</span></dt>
				<dd><input type="hidden" name="action" value="purge_cache" /><span class="gallery-operation-help-actions"><input class="button2" type="submit" id="action_purge_cache" name="action_purge_cache" value="{{ lang('RUN') }}" /><button class="gallery-operation-help-button" type="button" data-gallery-operation-help-open="gallery_operation_help_purge_cache" aria-controls="gallery_operation_help_purge_cache" aria-haspopup="dialog" aria-label="{{ lang('INFORMATION') }}: {{ lang('PURGE_CACHE') }}" title="{{ lang('INFORMATION') }}">i</button></span></dd>
			</dl>
		</form>
		<form id="action_resync_albums_to_cpf_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt>
					<label for="action_resync_albums_to_cpf">{{ lang('GALLERY_RESYNC_ALBUMS_TO_CPF') }}</label>
					<br/>
					<span>{{ lang('GALLERY_RESYNC_ALBUMS_TO_CPF_EXPLAIN') }}</span>
				</dt>
				<dd>
					<input type="hidden" name="action" value="resync_albums_to_cpf" />
					<span class="gallery-operation-help-actions"><input class="button2" type="submit" id="action_resync_albums_to_cpf" name="action_resync_albums_to_cpf" value="{{ lang('RUN') }}" /><button class="gallery-operation-help-button" type="button" data-gallery-operation-help-open="gallery_operation_help_albums_to_cpf" aria-controls="gallery_operation_help_albums_to_cpf" aria-haspopup="dialog" aria-label="{{ lang('INFORMATION') }}: {{ lang('GALLERY_RESYNC_ALBUMS_TO_CPF') }}" title="{{ lang('INFORMATION') }}">i</button></span>
				</dd>
			</dl>
		</form>
		{% endif %}
	</fieldset>

	<dialog class="gallery-operation-help-dialog" id="gallery_operation_help_image_counts" aria-labelledby="gallery_operation_help_image_counts_title">
		<header class="gallery-operation-help-dialog__header"><h2 id="gallery_operation_help_image_counts_title">{{ lang('RESYNC_IMAGECOUNTS') }}</h2><button class="gallery-operation-help-dialog__close" type="button" data-gallery-operation-help-close aria-label="{{ lang('CLOSE_WINDOW') }}">&times;</button></header>
		<div class="gallery-operation-help-dialog__body"><p>{{ lang('RESYNC_IMAGECOUNTS_HELP') }}</p></div>
	</dialog>
	<dialog class="gallery-operation-help-dialog" id="gallery_operation_help_personals" aria-labelledby="gallery_operation_help_personals_title">
		<header class="gallery-operation-help-dialog__header"><h2 id="gallery_operation_help_personals_title">{{ lang('RESYNC_PERSONALS') }}</h2><button class="gallery-operation-help-dialog__close" type="button" data-gallery-operation-help-close aria-label="{{ lang('CLOSE_WINDOW') }}">&times;</button></header>
		<div class="gallery-operation-help-dialog__body"><p>{{ lang('RESYNC_PERSONALS_HELP') }}</p></div>
	</dialog>
	<dialog class="gallery-operation-help-dialog" id="gallery_operation_help_stats" aria-labelledby="gallery_operation_help_stats_title">
		<header class="gallery-operation-help-dialog__header"><h2 id="gallery_operation_help_stats_title">{{ lang('RESYNC_STATS') }}</h2><button class="gallery-operation-help-dialog__close" type="button" data-gallery-operation-help-close aria-label="{{ lang('CLOSE_WINDOW') }}">&times;</button></header>
		<div class="gallery-operation-help-dialog__body"><p>{{ lang('RESYNC_STATS_HELP') }}</p></div>
	</dialog>
	<dialog class="gallery-operation-help-dialog" id="gallery_operation_help_image_dimensions" aria-labelledby="gallery_operation_help_image_dimensions_title">
		<header class="gallery-operation-help-dialog__header"><h2 id="gallery_operation_help_image_dimensions_title">{{ lang('RESYNC_IMAGE_DIMENSIONS') }}</h2><button class="gallery-operation-help-dialog__close" type="button" data-gallery-operation-help-close aria-label="{{ lang('CLOSE_WINDOW') }}">&times;</button></header>
		<div class="gallery-operation-help-dialog__body"><p>{{ lang('RESYNC_IMAGE_DIMENSIONS_HELP') }}</p></div>
	</dialog>
	<dialog class="gallery-operation-help-dialog" id="gallery_operation_help_last_images" aria-labelledby="gallery_operation_help_last_images_title">
		<header class="gallery-operation-help-dialog__header"><h2 id="gallery_operation_help_last_images_title">{{ lang('RESYNC_LAST_IMAGES') }}</h2><button class="gallery-operation-help-dialog__close" type="button" data-gallery-operation-help-close aria-label="{{ lang('CLOSE_WINDOW') }}">&times;</button></header>
		<div class="gallery-operation-help-dialog__body"><p>{{ lang('RESYNC_LAST_IMAGES_HELP') }}</p></div>
	</dialog>
	{% if S_FOUNDER %}
	<dialog class="gallery-operation-help-dialog" id="gallery_operation_help_purge_cache" aria-labelledby="gallery_operation_help_purge_cache_title">
		<header class="gallery-operation-help-dialog__header"><h2 id="gallery_operation_help_purge_cache_title">{{ lang('PURGE_CACHE') }}</h2><button class="gallery-operation-help-dialog__close" type="button" data-gallery-operation-help-close aria-label="{{ lang('CLOSE_WINDOW') }}">&times;</button></header>
		<div class="gallery-operation-help-dialog__body"><p>{{ lang('GALLERY_PURGE_CACHE_HELP') }}</p></div>
	</dialog>
	<dialog class="gallery-operation-help-dialog" id="gallery_operation_help_albums_to_cpf" aria-labelledby="gallery_operation_help_albums_to_cpf_title">
		<header class="gallery-operation-help-dialog__header"><h2 id="gallery_operation_help_albums_to_cpf_title">{{ lang('GALLERY_RESYNC_ALBUMS_TO_CPF') }}</h2><button class="gallery-operation-help-dialog__close" type="button" data-gallery-operation-help-close aria-label="{{ lang('CLOSE_WINDOW') }}">&times;</button></header>
		<div class="gallery-operation-help-dialog__body"><p>{{ lang('GALLERY_RESYNC_ALBUMS_TO_CPF_HELP') }}</p></div>
	</dialog>
	{% endif %}

	<fieldset>
		<form id="action_reset_rating_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt><label for="reset_album_id">{{ lang('RESET_RATING') }}</label>
					<br /><span>{{ lang('RESET_RATING_EXPLAIN') }}</span></dt>
				<dd>{{ S_SELECT_ALBUM }}
					<input type="hidden" name="action" value="reset_rating" /><input class="button2" type="submit" id="action_reset_rating" name="action_reset_rating" value="{{ lang('RUN') }}" /></dd>
			</dl>
		</form>

		<form id="action_create_pega_form" method="post" action="{{ U_ACTION }}">
			<dl>
				<dt><label for="username">{{ lang('CREATE_USERS_PEGA') }}</label></dt>
				<dd><input class="inputbox autowidth" type="text" id="username" name="username" size="15" value="" />
					<input type="hidden" name="action" value="create_pega" /><input class="button2" type="submit" id="action_create_pega" name="action_create_pega" value="{{ lang('CREATE') }}" /></dd>
				<dd>[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
			</dl>
			{{ S_HIDDEN_FIELDS }}{{ S_FORM_TOKEN }}
		</form>
	</fieldset>
{% endif %}

{% include 'overall_footer.html' %}
