{% include 'ucp_header.html' %}
{% INCLUDEJS '@phpbbgallery_core/js/list_navigation.js' %}

{% if S_MANAGE_FAVORITES %}
<form id="ucp_gallery" method="post" action="{{ S_UCP_ACTION }}">
<h2>{{ L_TITLE }}</h2>
<div class="panel">
	<div class="inner">
		<p>{{ L_TITLE_EXPLAIN }}</p>

		{% if image_row is not empty %}
		<ul class="topiclist missing-column">
			<li class="header">
				<dl class="row-item">
					<dt><div class="list-inner">{{ TOTAL_IMAGES }}</div></dt>
					<dd class="mark">{{ lang('MARK') }}</dd>
				</dl>
			</li>
		</ul>
		<ul class="topiclist cplist missing-column">
			{% for image_row in image_row %}
			<li class="row{% if loop.index is odd %} bg1{% else %} bg2{% endif %}">
				<dl class="row-item">
					<dt>
						<div class="list-inner gallery-favorite-ucp-row">
							{% if image_row.UC_FAKE_THUMBNAIL %}<span class="gallery-favorite-ucp-thumbnail">{{ image_row.UC_FAKE_THUMBNAIL }}</span>{% endif %}
							<div class="gallery-favorite-ucp-details">
								<div><dfn>{{ lang('IMAGE_NAME') }}{{ lang('COLON') }}</dfn> {{ image_row.UC_IMAGE_NAME }}</div>
								<div>{{ lang('UPLOADED_BY_USER') }} {{ image_row.UPLOADER }}</div>
								<div>{{ image_row.IMAGE_TIME }}</div>
								<div>{{ lang('ALBUM') }}{{ lang('COLON') }} <a href="{{ image_row.U_VIEW_ALBUM }}"><strong>{{ image_row.ALBUM_NAME }}</strong></a></div>
							</div>
						</div>
					</dt>
					<dd class="mark"><label for="image_favorite_{{ image_row.IMAGE_ID }}" class="sr-only">{{ lang('MARK') }}</label><input id="image_favorite_{{ image_row.IMAGE_ID }}" type="checkbox" name="image_id_ary[]" value="{{ image_row.IMAGE_ID }}" /></dd>
				</dl>
			</li>
			{% endfor %}
		</ul>

		<div><a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;">{{ lang('MARK_ALL') }}</a> :: <a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;">{{ lang('UNMARK_ALL') }}</a></div>
		{% else %}
		<p class="notopics"><strong>{{ lang('NO_FAVORITES') }}</strong></p>
		{% endif %}
	</div>
</div>

{% if image_row is not empty %}
	<div class="action-bar bar-bottom">
		<div class="pagination">
			{{ TOTAL_IMAGES }}
			{% if pagination|length %}{% include '@phpbbgallery_core/gallery/list_pagination.html' with { pagination: pagination, GALLERY_BOOTSTRAP_PAGINATION: false } %}{% endif %}
		</div>
	</div>

	<fieldset class="display-actions">
		<select name="action">
			<option value="" selected="selected">{{ lang('FAVORITE_CHOOSE_ACTION') }}</option>
			<option value="remove_favorite">{{ lang('REMOVE_FROM_FAVORITES') }}</option>
		</select>
		<input class="button2" type="submit" value="{{ lang('SUBMIT') }}" />
		{{ S_FORM_TOKEN }}
	</fieldset>
{% endif %}
</form>
{% endif %}

{% include 'ucp_footer.html' %}
