{% if S_SIMPLE_MESSAGE %}
	{% include 'simple_header.html' %}
{% else %}
	{% include 'overall_header.html' %}
{% endif %}

<div class="panel" id="message">
	<div class="inner">
	<h2 class="message-title">{{ MESSAGE_TITLE }}</h2>
	<p>{{ MESSAGE_TEXT }}</p>
	{% if SCRIPT_NAME == "search" and not S_BOARD_DISABLED and not S_NO_SEARCH and L_RETURN_TO_SEARCH_ADV %}<p><a href="{{ U_SEARCH }}" class="arrow-{{ S_CONTENT_FLOW_BEGIN }}">{{ lang('GO_TO_SEARCH_ADV') }}</a></p>{% endif %}
	</div>
</div>

{% if S_SIMPLE_MESSAGE %}
	{% include 'simple_footer.html' %}
{% else %}
	{% include 'overall_footer.html' %}
{% endif %}
