{% for albumrow in albumrow %}

	{% if (albumrow.S_IS_CAT and not albumrow.S_FIRST_ROW) or albumrow.S_NO_CAT or (albumrow.S_PERSONAL_SECTION_START and not albumrow.S_FIRST_ROW) %}
			</ul>

			</div>
		</div>
	{% endif %}
	{% if albumrow.S_PUBLIC_SECTION_START or albumrow.S_PERSONAL_SECTION_START %}
		<h2 class="gallery-album-section-title"><i class="icon fa {% if albumrow.S_PERSONAL_SECTION_START %}fa-user{% else %}fa-folder-open{% endif %} fa-fw" aria-hidden="true"></i> {% if albumrow.S_PERSONAL_SECTION_START %}{{ lang('PERSONAL_ALBUMS') }}{% else %}{{ GALLERY_PUBLIC_ALBUMS_LABEL }}{% endif %}</h2>
	{% endif %}

	{% if albumrow.S_IS_CAT or albumrow.S_FIRST_ROW or albumrow.S_NO_CAT or albumrow.S_PERSONAL_SECTION_START %}
		<div class="forabg">
			<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>
							{% if albumrow.S_IS_CAT %}<a href="{{ albumrow.U_VIEWALBUM }}">{{ albumrow.ALBUM_NAME }}</a>{% else %}{{ lang('ALBUM') }}{% endif %}
							{% if albumrow.S_IS_CAT %}{% include '@phpbbgallery_core/gallery/category_album_pagination.html' %}{% endif %}
						</dt>
						<dd class="posts">{{ lang('IMAGES') }}</dd>
						<dd class="g_lastimage" style="padding-left: 5px;"><span>{{ lang('LAST_IMAGE') }}</span></dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
	{% endif %}

	{% if not albumrow.S_IS_CAT %}
		<li class="row{% if albumrow.S_PERSONAL_ALBUM %} gallery-personal-album{% endif %}">{{ albumrow.ALBUM_FOLDER_IMG_SRC }}
			<dl class="row-item{% if albumrow.ALBUM_IMAGE_SRC %} gallery-classic-album-custom-visual{% else %} {{ albumrow.ALBUM_IMG_STYLE }}{% endif %}">
				<dt title="{{ albumrow.ALBUM_FOLDER_IMG_ALT }}">
					{% if albumrow.ALBUM_IMAGE_SRC %}<a class="forum-image gallery-album-custom-icon-frame gallery-classic-album-icon-frame" href="{{ albumrow.U_VIEWALBUM }}" aria-label="{{ lang('VIEW_ALBUM') }}{{ lang('COLON') }} {{ albumrow.ALBUM_NAME }}"><img class="gallery-album-custom-icon" src="{{ albumrow.ALBUM_IMAGE_SRC }}" alt="" /></a>{% endif %}
					<div class="list-inner">
						<a href="{{ albumrow.U_VIEWALBUM }}" class="forumtitle"{% if S_PERSONAL_GALLERY and albumrow.ALBUM_COLOUR %} style="color: {{ albumrow.ALBUM_COLOUR }};"{% endif %}>{{ albumrow.ALBUM_NAME }}</a><br />
						{{ albumrow.ALBUM_DESC }}
						{% if albumrow.MODERATORS %}<br /><strong>{{ albumrow.L_MODERATOR_STR }}{{ lang('COLON') }}</strong> {{ albumrow.MODERATORS }}{% endif %}
						{% include '@phpbbgallery_core/gallery/subalbum_links.html' %}
					</div>
				</dt>
				<dd class="posts">{{ albumrow.IMAGES }} {% if albumrow.UNAPPROVED_IMAGES %} + <span class="reported-images-number">{{ albumrow.UNAPPROVED_IMAGES }}</span>{% endif %} <dfn>{{ lang('IMAGES') }}</dfn></dd>
				<dd class="lastpost g_lastimage" style="padding-left: 5px;">
					{% if albumrow.LAST_IMAGE_TIME %}
					<div class="gallery-classic-last-image">
						{% if albumrow.UC_LAST_IMAGE_THUMBNAIL %}
						<a class="gallery-classic-last-image-thumbnail" href="{{ albumrow.U_LAST_IMAGE }}"><img src="{{ albumrow.UC_LAST_IMAGE_THUMBNAIL }}" alt="{{ albumrow.UC_IMAGE_NAME }}" /></a>
						{% endif %}
						<span class="gallery-classic-last-image-details">
							{{ lang('POST_BY_AUTHOR') }} {{ albumrow.LAST_USER_FULL }} {{ albumrow.UC_LASTIMAGE_ICON }}<br />
							{{ albumrow.LAST_IMAGE_TIME }}
						</span>
					</div>
					{% else %}
						{{ lang('NO_IMAGES') }}
					{% endif %}
				</dd>
			</dl>
		</li>
	{% endif %}

	{% if albumrow.S_LAST_ROW %}
			</ul>

			</div>
		</div>
	{% endif %}

{% else %}
	<div class="panel">
		<div class="inner">
		<strong>{{ lang('NO_ALBUMS') }}</strong>
		</div>
	</div>
{% endfor %}
