{% for albumrow in albumrow %}
	{% if albumrow.S_PUBLIC_SECTION_START or albumrow.S_PERSONAL_SECTION_START %}
		<span class="clear"></span>
		<h2 class="gallery-album-section-title"><i class="icon fa {% if albumrow.S_PERSONAL_SECTION_START %}fa-user{% else %}fa-folder-open{% endif %} fa-fw" aria-hidden="true"></i> {% if albumrow.S_PERSONAL_SECTION_START %}{{ lang('PERSONAL_ALBUMS') }}{% else %}{{ lang('PUBLIC_ALBUMS') }}{% endif %}</h2>
	{% endif %}
	{% if (albumrow.S_IS_CAT and not albumrow.S_FIRST_ROW) or albumrow.S_NO_CAT %}
		<span class="clear"></span>
	{% endif %}

	{% if albumrow.S_IS_CAT or ((albumrow.S_FIRST_ROW or albumrow.S_NO_CAT) and not albumrow.S_PUBLIC_SECTION_START and not albumrow.S_PERSONAL_SECTION_START) %}
		<span class="clear"></span>
		<br />
		<h2{% if albumrow.S_FIRST_ROW %} class="invade-linklist"{% endif %}>{% if albumrow.S_IS_CAT %}<a href="{{ albumrow.U_VIEWALBUM }}">{{ albumrow.ALBUM_NAME }}</a>{% else %}{{ lang('ALBUM') }}{% endif %}</h2>
	{% endif %}

	{% if not albumrow.S_IS_CAT %}
		<div class="polaroid{% if albumrow.S_PERSONAL_ALBUM %} gallery-personal-album{% endif %}">
			<p class="gallery-album-title">
				{% if albumrow.S_PERSONAL_ALBUM %}<i class="icon fa fa-user fa-fw gallery-personal-album-icon" title="{{ lang('PERSONAL_ALBUM') }}" aria-hidden="true"></i><span class="sr-only">{{ lang('PERSONAL_ALBUM') }}{{ lang('COLON') }}</span>{% endif %}
				<a href="{{ albumrow.U_VIEWALBUM }}"{% if S_PERSONAL_GALLERY and albumrow.ALBUM_COLOUR %} style="color: {{ albumrow.ALBUM_COLOUR }};"{% endif %}>{{ albumrow.ALBUM_NAME }}</a>
			</p>
			<hr />
			{% if albumrow.UC_THUMBNAIL %}
			<a href="{{ albumrow.U_VIEWALBUM }}" class="polaroid_img_container"><img src="{{ albumrow.UC_THUMBNAIL }}" alt="{{ albumrow.UC_IMAGE_NAME }}" title="{{ lang('VIEW_ALBUM') }}{{ albumrow.UC_IMAGE_NAME }}" /></a>
			{% endif %}
			<hr />
			{{ lang('IMAGES') }}{{ lang('COLON') }} <strong>{{ albumrow.IMAGES }} {% if albumrow.UNAPPROVED_IMAGES %} + <span class="reported-images-number">{{ albumrow.UNAPPROVED_IMAGES }}</span>{% endif %}</strong><br />

			{% if albumrow.LAST_IMAGE_TIME %}
				<span>
					<div style="height: 23px; padding-top: 2px;">
						{% if albumrow.UC_IMAGE_NAME %}{{ albumrow.UC_IMAGE_NAME }}<br />{% endif %}
						<p style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 2px;">{{ lang('LAST_IMAGE_BY') }}{{ lang('COLON') }} {{ albumrow.LAST_USER_FULL }} {{ albumrow.UC_LASTIMAGE_ICON }}</p>
						<p>&raquo; {{ albumrow.LAST_IMAGE_TIME }}</p>
					</div>
				</span>
			{% else %}
			<span><div style="height: 23px; padding-top: 2px;"></div></span>
			{% endif %}

			{% if EXTENDED_POLAROID and albumrow.MODERATORS %}
				<hr />
				<strong>{{ albumrow.L_MODERATOR_STR }}{{ lang('COLON') }}</strong> {{ albumrow.MODERATORS }}
				<br />
			{% else %}
				<br />
			{% endif %}

			{% if albumrow.subalbum|length and albumrow.S_LIST_SUBALBUMS %}
				<div class="dropdown-container"><i class="icon fa-sitemap fa-fw icon-md" aria-hidden="true"></i>
					<a href="#" class="responsive-menu-link dropdown-trigger">{{ albumrow.L_SUBALBUM_STR }}</a>
					<div class="dropdown" style="display: none;">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<div class="dropdown-contents">
							{% for subalbum in albumrow.subalbum %}
							<li>
								<a href="{{ subalbum.U_SUBALBUM }}" class="subforum{% if subalbum.S_UNREAD %} unread{% else %} read{% endif %}" title="{% if subalbum.UNREAD %}{{ lang('UNREAD_IMAGES') }}{% else %}{{ lang('NO_UNREAD_IMAGES') }}{% endif %}"><i class="icon fa-image fa-fw icon-md" aria-hidden="true"></i> {{ subalbum.SUBALBUM_NAME }}</a>{% if not subalbum.S_LAST_ROW %}{% endif %}
							</li>
						{% endfor %}
						</div>
					</div>
				</div>
			{% else %}
			<br />
			{% endif %}
		</div>
	{% endif %}

	{% if albumrow.S_LAST_ROW %}
		<span class="clear"></span>
	{% endif %}

{% else %}
<br />
	<div class="panel">
		<div class="inner" style="text-align: center;">
			<strong>{{ lang('NO_ALBUMS') }}</strong>
		</div>
	</div>
{% endfor %}

{% if albumrow|length %}
	{% INCLUDEJS '@phpbbgallery_core/js/gallery_polaroid.js' %}
{% endif %}
