{% for imageblock in imageblock %}
<div class="forumbg">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="icon">
					<dt>{{ imageblock.BLOCK_NAME }}</dt>
				</dl>
			</li>
		</ul>
		<ul class="topiclist topics">
			<li class="bg2">
				<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline">
					{% for imagerow in imageblock.imagerow %}
					<tr>
						{% for image in imagerow.image %}
						<td class="bg2" valign="top" style="width: {{ imageblock.S_COL_WIDTH }};">
							<table width="100%" cellpadding="2" cellspacing="5" border="0" class="forumline">
								<tr>
									<td align="center" style="height: {{ S_THUMBNAIL_SIZE }}px;" class="bg1">
										<span class="genmed">{{ image.UC_THUMBNAIL }}</span>
									</td>
								</tr>
								<tr>
									<td class="bg2" valign="top">
										<div class="gensmall" style="overflow: hidden;">
											{% if image.UC_IMAGE_NAME %}{{ lang('IMAGE_NAME') }}{{ lang('COLON') }} {{ image.UC_IMAGE_NAME }}<br />{% endif %}
											{% if image.U_ALBUM %}{{ lang('ALBUM_NAME') }}{{ lang('COLON') }} <a href="{{ image.U_ALBUM }}" style="font-weight: bold;" title="{{ image.ALBUM_NAME_FULL }}">{{ image.ALBUM_NAME }}</a><br />{% endif %}
											{% if image.POSTER %}{{ lang('UPLOADED_BY_USER') }}{{ lang('COLON') }} {{ image.POSTER }}<br />{% endif %}
											{% if image.TIME %}{{ lang('UPLOADED_ON_DATE') }}{{ lang('COLON') }} {{ image.TIME }}<br />{% endif %}
											<span style="display: none;" id="inserted_{{ imageblock.S_ROW_COUNT }}_{{ imagerow.S_ROW_COUNT }}_{{ image.S_ROW_COUNT }}">[ {{ lang('IMAGE_INSERTED') }} ]<br /></span>
											<input type="button" class="button2" name="gallery_button" value="{{ lang('INSERT_IMAGE_POST') }}" onclick="insert_image({{ image.IMAGE_ID }}, '{{ imageblock.S_ROW_COUNT }}_{{ imagerow.S_ROW_COUNT }}_{{ image.S_ROW_COUNT }}');" title="{{ lang('INSERT_IMAGE_POST') }}" />
										</div>
									</td>
								</tr>
							</table>
						</td>
						{% endfor %}
						{% for no_image in imagerow.no_image %}
							<td class="bg2" valign="top" style="width: {{ imageblock.S_COL_WIDTH }};">
								<table width="100%" cellpadding="2" cellspacing="10" border="0" class="forumline"><tr>
								<td style="height: {{ S_THUMBNAIL_SIZE }}px;" class="bg1"></td>
								</tr></table>
							</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			</li>
		</ul>
	</div>
</div>
{% endfor %}