{% include 'gallery/gallery_header.html' %}

{% include 'gallery/posting_javascript.html' %}

<h2>{% if U_VIEW_IMAGE %}<a href="{{ U_VIEW_IMAGE }}">{{ IMAGE_NAME }}</a>{% else %}<a href="{{ U_VIEW_ALBUM }}">{{ ALBUM_NAME }}</a>{% endif %}</h2>

<form id="postform" action="{{ S_ALBUM_ACTION }}" method="post">

<div class="panel" id="postingbox">
	<div class="inner">
		<h3>{% if S_UPLOAD_EDIT %}{{ lang('UPLOAD_IMAGE') }}{% elseif S_EDIT %}{{ lang('EDIT_IMAGE') }}{% elseif S_REPORT %}{{ lang('REPORT_IMAGE') }}{% endif %}</h3>
		<fieldset class="fields1 gallery">
			{% if ERROR %}<p class="error">{{ ERROR }}</p>{% endif %}

			{% if not S_USER_LOGGED_IN %}
				<dl>
					<dt><label for="username">{{ lang('USERNAME') }}{{ lang('COLON') }}</label></dt>
					<dd id="username"><input class="inputbox autowidth" type="text" tabindex="1" name="username" value="{{ S_USERNAME }}" size="60" maxlength="32" /></dd>
				</dl>
			{% endif %}
			{% if BBCODE_STATUS %}
			<dl>
				<dt><label>{{ lang('BBCODES') }}{{ lang('COLON') }}</label></dt>
				{% if S_BBCODE_ALLOWED %}<dd>{% include 'posting_buttons.html' %}</dd>{% endif %}
				<dd>{{ BBCODE_STATUS }}{% if S_BBCODE_ALLOWED %}; {{ IMG_STATUS }} {{ FLASH_STATUS }}; {{ URL_STATUS }}; {{ SMILIES_STATUS }}{% endif %}</dd>
			</dl>
			{% endif %}
			{% if S_SMILIES_ALLOWED and smiley|length %}
				<dl>
					<dt><label>{{ lang('SMILIES') }}{{ lang('COLON') }}</label></dt>
					<dd>{% for smiley in smiley %}<a href="#" onclick="insert_text('{{ smiley.A_SMILEY_CODE }}', true); return false;"><img src="{{ smiley.SMILEY_IMG }}" width="{{ smiley.SMILEY_WIDTH }}" height="{{ smiley.SMILEY_HEIGHT }}" alt="{{ smiley.SMILEY_CODE }}" title="{{ smiley.SMILEY_DESC }}" /></a> {% endfor %}</dd>
					{% if S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED %}<dd><a href="{{ U_MORE_SMILIES }}" onclick="gallery_popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{{ lang('MORE_SMILIES') }}</a></dd>{% endif %}
				</dl>
			{% endif %}

			{% for image in image %}
				<hr />
				<dl>
					<dt class="simulate-dt{% if image.S_FIRST_ROW and (NUM_IMAGES > 1) %} first{% endif %}">{{ image.U_IMAGE }}</dt>
					<dd class="simulate-dt"><label for="image_name_{{ image.S_ROW_COUNT }}">{{ lang('IMAGE_NAME') }}{{ lang('COLON') }}</label></dd>
					{% if image.S_FIRST_ROW and (NUM_IMAGES > 1) %}
						<dd class="simulate-dd"><input type="checkbox" name="same_name" id="same_name" value="1" onchange="change_read_write();" /> <label for="same_name">{{ lang('USE_SAME_NAME') }}</label></dd>
						<dd class="simulate-dd">{{ lang('USE_NUM') }} <input class="inputbox autowidth" type="text" id="image_num" name="image_num" size="5" onchange="update_all('image_name'); update_all('image_subtitle'); update_all('message');" onkeyup="update_all('image_name'); update_all('image_subtitle'); update_all('message');" value="1" /></dd>
					{% endif %}
					<dd class="simulate-dd"><input class="inputbox autowidth" type="text" tabindex="1{{ image.S_ROW_COUNT }}" id="image_name_{{ image.S_ROW_COUNT }}" name="image_name[{{ image.S_ROW_COUNT }}]" value="{{ image.IMAGE_NAME }}"{% if image.S_FIRST_ROW %} onchange="update_all('image_name');" onselect="update_all('image_name');" onclick="update_all('image_name');" onkeyup="update_all('image_name');"{% endif %} size="60" maxlength="128" /></dd>
					<dd class="simulate-dt"><label for="image_subtitle_{{ image.S_ROW_COUNT }}">{{ lang('IMAGE_SUBTITLE') }}{{ lang('COLON') }}</label></dd>
					<dd class="simulate-dd"><input class="inputbox autowidth" type="text" tabindex="2{{ image.S_ROW_COUNT }}" id="image_subtitle_{{ image.S_ROW_COUNT }}" name="image_subtitle[{{ image.S_ROW_COUNT }}]" value="{{ image.IMAGE_SUBTITLE }}"{% if image.S_FIRST_ROW %} onchange="update_all('image_subtitle');" onselect="update_all('image_subtitle');" onclick="update_all('image_subtitle');" onkeyup="update_all('image_subtitle');"{% endif %} size="60" maxlength="255"><br><span>{{ lang('IMAGE_SUBTITLE_EXPLAIN') }}</span></dd>
					<dd class="simulate-dt"><label for="message_{{ image.S_ROW_COUNT }}">{{ lang('IMAGE_DESC') }}{{ lang('COLON') }}</label></dd>
					<dd class="simulate-dd" id="desc_length_{{ image.S_ROW_COUNT }}">{{ lang('DESCRIPTION_LENGTH') }}</dd>
					<dd class="simulate-dd"><textarea name="message[{{ image.S_ROW_COUNT }}]" id="message_{{ image.S_ROW_COUNT }}" rows="4" cols="76" tabindex="3" onchange="set_text_field({{ image.S_ROW_COUNT }});{% if image.S_FIRST_ROW %} update_all('message');{% endif %}" onselect="set_text_field({{ image.S_ROW_COUNT }});{% if image.S_FIRST_ROW %} update_all('message');{% endif %} storeCaret(this);" onclick="set_text_field({{ image.S_ROW_COUNT }});{% if image.S_FIRST_ROW %} update_all('message');{% endif %} storeCaret(this);" onkeyup="set_text_field({{ image.S_ROW_COUNT }});{% if image.S_FIRST_ROW %} update_all('message');{% endif %} storeCaret(this);" class="inputbox">{{ image.IMAGE_DESC }}</textarea></dd>
					{% if S_ALLOW_ROTATE %}
					<dd class="simulate-dt"><label for="rotate_{{ image.S_ROW_COUNT }}_0">{{ lang('ROTATE_IMAGE') }}{{ lang('COLON') }}</label></dd>
					<dd class="simulate-dd"><input type="radio" name="rotate[{{ image.S_ROW_COUNT }}]" id="rotate_{{ image.S_ROW_COUNT }}_0" value="0" checked="checked" /> <label for="rotate_{{ image.S_ROW_COUNT }}_0">{{ lang('ROTATE_NONE') }}</label> &nbsp;
						<input type="radio" name="rotate[{{ image.S_ROW_COUNT }}]" id="rotate_{{ image.S_ROW_COUNT }}_270" value="270" /> <label for="rotate_{{ image.S_ROW_COUNT }}_270">{{ lang('ROTATE_RIGHT') }}</label> &nbsp;
						<input type="radio" name="rotate[{{ image.S_ROW_COUNT }}]" id="rotate_{{ image.S_ROW_COUNT }}_180" value="180" /> <label for="rotate_{{ image.S_ROW_COUNT }}_180">{{ lang('ROTATE_UPSIDEDOWN') }}</label> &nbsp;
						<input type="radio" name="rotate[{{ image.S_ROW_COUNT }}]" id="rotate_{{ image.S_ROW_COUNT }}_90" value="90" /> <label for="rotate_{{ image.S_ROW_COUNT }}_90">{{ lang('ROTATE_LEFT') }}</label></dd>
					{% endif %}
				</dl>
				{% EVENT phpbbgallery_core_edit_image_addfields %}
			{% endfor %}
			{% EVENT phpbbgallery_core_edit_addfields %}

			{% if S_REPORT %}
				<div><textarea name="message" id="message" rows="4" cols="76" tabindex="3" class="inputbox"></textarea></dd></div>
			{% endif %}
		</fieldset>
	</div>
</div>

{% if S_MOVE_PERSONAL or S_COMMENTS_ENABLED or S_CHANGE_AUTHOR %}
<div class="panel">
	<div class="inner">
		<fieldset class="fields1">
			{% if S_MOVE_PERSONAL %}
				<dl>
					<dt><label for="move_to_personal">{{ lang('MOVE_TO_PERSONAL') }}{{ lang('COLON') }}</label></dt>
					<dd><input type="checkbox" class="checkbox" name="move_to_personal" id="move_to_personal" value="1" /> {% if S_MOVE_MODERATOR %}{{ lang('MOVE_TO_PERSONAL_MOD') }}{% else %}{{ lang('MOVE_TO_PERSONAL_EXPLAIN') }}{% endif %}</dd>
				</dl>
			{% endif %}
			{% if S_COMMENTS_ENABLED %}
				<dl>
					<dt><label for="allow_comments">{{ lang('COMMENTS') }}{{ lang('COLON') }}</label></dt>
					<dd><input type="checkbox" class="checkbox" name="allow_comments" id="allow_comments"{% if S_ALLOW_COMMENTS %} checked="checked"{% endif %} value="1" /> <label for="allow_comments">{{ lang('ALLOW_COMMENTS') }}</label></dd>
				</dl>
			{% endif %}
			{% if S_CHANGE_AUTHOR and U_FIND_USERNAME %}
				<dl>
					<dt><label for="change_author">{{ lang('CHANGE_AUTHOR') }}{{ lang('COLON') }}</label></dt>
					<dd><input type="text" class="inputbox autowidth" name="change_author" id="change_author" value="" size="32" /> [ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</dd>
				</dl>
			{% endif %}
		</fieldset>
	</div>
</div>
{% endif %}

<script type="text/javascript">
//<![CDATA[
	set_text_field(0);
//]]>
</script>

<div class="panel bg2">
	<div class="inner">
		<fieldset class="submit-buttons">
			{{ S_HIDDEN_FIELDS }}
			<input type="reset" accesskey="r" tabindex="200" value="{{ lang('RESET') }}" class="button2" />&nbsp;
			<input type="submit" accesskey="s" tabindex="201" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />&nbsp;
		</fieldset>
		{{ S_FORM_TOKEN }}
	</div>
</div>
</form>

{% include 'gallery/gallery_footer.html' %}
