{% for imageblock in imageblock|default([]) %}

{% if imageblock.U_BLOCK %}<h2 class="gallery-image-block-title"><a href="{{ imageblock.U_BLOCK }}">{{ imageblock.BLOCK_NAME }}</a></h2>{% endif %}
{% if imageblock.ERROR %}<h2>{{ imageblock.ERROR }}</h2>

{% else %}
<div class="gallery-image-card-grid gallery-image-card-grid--prosilver{% if imageblock.S_IMAGE_AWARD_BLOCK %} gallery-image-card-grid--three-columns{% endif %}">
{% for image in imageblock.image %}
<div class="polaroid gallery-image-card">
	{% EVENT phpbbgallery_core_album_image_actions %}
	{% if image.S_IMAGE_AWARD_RANK > 0 %}
	<div class="trophy-container">
		<i class="trophy-icon fa-trophy fa-stack-2x trophy-color-{{ image.S_IMAGE_AWARD_RANK }}"></i>
		<strong class="fa-stack-1x trophy-text">{{ image.S_IMAGE_AWARD_RANK }}</strong>
	</div>
	{% endif %}
	<header class="gallery-image-card-heading gallery-polaroid-image-heading{% if S_GALLERY_IMAGE_ID_BBCODE and image.IMAGE_ID %} gallery-polaroid-image-heading--with-copy{% endif %}">
		{% include '@phpbbgallery_core/gallery/image_bbcode_copy.html' %}
		<p class="gallery-image-card-title">
			{% if image.U_IMAGE %}<a href="{{ image.U_IMAGE }}">{% endif %}{{ image.UC_IMAGE_NAME }}{% if image.U_IMAGE %}</a>{% endif %}
		</p>
	</header>
	<hr />
	{% if image.S_STATUS_UNAPPROVED or image.S_UNAPPROVED %}
		<form method="post" action="{{ image.S_STATUS_UNAPPROVED_ACTION }}" class="polaroid_img_container">
			<div id="thumbnail">
				{% if image.UC_THUMBNAIL_ACTION %}<a href="{{ image.UC_THUMBNAIL_ACTION }}" class="polaroid_img_container" style="height: 80px;">{% endif %}<img src="{{ image.UC_THUMBNAIL }}" alt="{{ image.UC_IMAGE_NAME }}" title="{{ lang('VIEW_IMAGE') }}{{ lang('COLON') }} {{ image.UC_IMAGE_NAME }}" style="max-height: 65px;"/>{% if image.UC_THUMBNAIL_ACTION %}</a>{% endif %}
					<p class="post-notice unapproved" style="margin-bottom: -5px; margin-top: 4px;">
						{% if image.S_STATUS_UNAPPROVED and not image.S_UNAPPROVED %}
							<span>
								{{ lang('IMAGE_NOT_APPROVED') }}
							</span>
						{% else %}
							<input class="button2" type="submit" value="{{ lang('DISAPPROVE') }}" name="action[disapprove]" style="border-radius: 5px;" />
							<input class="button1" type="submit" value="{{ lang('APPROVE') }}" name="action[approve]" style="border-radius: 5px;" />
						{% endif %}
					</p>
			</div>
		</form>
	{% else %}
			<div id="thumbnail">
				{% if image.UC_THUMBNAIL_ACTION %}<a href="{{ image.UC_THUMBNAIL_ACTION }}" class="polaroid_img_container">{% endif %}<img src="{{ image.UC_THUMBNAIL }}" alt="{{ image.UC_IMAGE_NAME }}" title="{{ lang('VIEW_IMAGE') }}{{ lang('COLON') }} {{ image.UC_IMAGE_NAME }}" />{% if image.UC_THUMBNAIL_ACTION %}</a>{% endif %}
			</div>
	{% endif %}
	{% if image.IMAGE_SUBTITLE %}<p class="gallery-image-card-subtitle" title="{{ image.IMAGE_SUBTITLE }}">{{ image.IMAGE_SUBTITLE }}</p>{% endif %}
	<hr />
	{% if image.U_ALBUM %}<div class="gallery-image-card-metadata-item" data-gallery-card-metadata>{{ lang('ALBUM_NAME') }}{{ lang('COLON') }} <a href="{{ image.U_ALBUM }}" title="{{ image.ALBUM_NAME }}"><strong>{{ image.ALBUM_NAME }}</strong></a></div>{% endif %}
	{% if image.POSTER %}<div class="gallery-image-card-metadata-item" data-gallery-card-metadata>{{ lang('UPLOADED_BY_USER') }}{{ lang('COLON') }} {{ image.POSTER }}</div>{% endif %}
	{% if image.TIME %}<div class="gallery-image-card-metadata-item" data-gallery-card-metadata>&raquo; {{ image.TIME }}</div>{% endif %}
	{% if image.IMAGE_RESOLUTION %}<div class="gallery-image-card-metadata-item" data-gallery-card-metadata>{{ lang('IMAGE_RESOLUTION') }}{{ lang('COLON') }} {{ image.IMAGE_RESOLUTION }}</div>{% endif %}
	{% if image.IMAGE_VIEWS > -1 %}<div class="gallery-image-card-metadata-item" data-gallery-card-metadata>{{ lang('IMAGE_VIEWS') }}{{ lang('COLON') }} {{ image.IMAGE_VIEWS }}</div>{% endif %}
	<div class="gallery-image-card-metadata-item" data-gallery-card-metadata>{% EVENT phpbbgallery_core_album_image_metadata %}</div>
	{% if image.S_RATINGS %}
		<div class="gallery-image-card-rating">{{ lang('RATING') }}{{ lang('COLON') }} {% include '@phpbbgallery_core/gallery/album_rating_stars.html' %}</div>
	{% endif %}
	{% if image.S_COMMENTS %}<div class="gallery-image-card-metadata-item" data-gallery-card-metadata>{{ image.L_COMMENTS }}{{ lang('COLON') }} <a href="{{ image.U_COMMENTS }}">{{ image.S_COMMENTS }}</a></div>{% endif %}
{% if U_ACP %}
	{% if image.U_USER_IP %}<div class="gallery-image-card-metadata-item" data-gallery-card-metadata>{{ lang('IP') }}{{ lang('COLON') }} {% include '@phpbbgallery_core/gallery/ip_privacy_toggle.html' with { ip_value: image.U_USER_IP } %}</div>{% endif %}
{% endif %}

</div>

{% endfor %}
</div>
{% endif %}
{% endfor %}
