{% include 'gallery/gallery_header.html' %}
<script type="text/javascript">
function getElement(iElementId)
{
	if (document.all)
	{
		return document.all[iElementId];
	}
	if (document.getElementById)
	{
		return document.getElementById(iElementId);
	}
}

function toggleElement(oElement)
{
	if (oElement.style.display == "none")
	{
		oElement.style.display = "";
	}
	else
	{
		oElement.style.display = "none";
	}
}
</script>
<p class="{{ S_CONTENT_FLOW_END }} responsive-center time{% if S_USER_LOGGED_IN %} rightside{% endif %}">{% if S_USER_LOGGED_IN %}{{ LAST_VISIT_DATE }}{% else %}{{ CURRENT_TIME }}{% endif %}</p>
{% if S_USER_LOGGED_IN %}<p class="responsive-center time">{{ CURRENT_TIME }}</p>{% endif %}


{% if S_USER_LOGGED_IN and not S_IS_BOT %}
<ul class="linklist right responsive-center rightside">
	<li class="rightside">
		<div class="dropdown-container dropdown-button-control topic-tools">
			<span title="Topic tools" class="button button-secondary dropdown-trigger dropdown-select dropdown-toggle">
				<i class="icon fa-bars fa-fw" aria-hidden="true"></i>
				<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
			</span>
			<div class="dropdown">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
					{% if not S_IS_BOT and U_MARK_ALBUMS %}
					<li>
						<a href="{{ U_MARK_ALBUMS }}" accesskey="m">
							<i class="icon fa-eye fa-fw icon-blue" aria-hidden="true"></i>
							<span>{{ lang('MARK_ALBUMS_READ') }}</span>
						</a>
					</li>
					{% endif %}
					{% if U_WATCH_ALL_ALBUMS %}
					<li>
						<a href="{{ U_WATCH_ALL_ALBUMS }}">
							<i class="icon {% if S_WATCHING_ALL_ALBUMS %}fa-bell-slash{% else %}fa-bell{% endif %} fa-fw icon-blue" aria-hidden="true"></i>
							<span>{{ WATCH_ALL_ALBUMS_LABEL }}</span>
						</a>
					</li>
					{% endif %}
					<li>
						<a href="{{ U_GALLERY_SEARCH }}">
							<i class="icon fa-search fa-fw icon-blue" aria-hidden="true"></i>
							<span>{{ lang('SEARCH') }}</span>
						</a>
					</li>
					{% if U_G_SEARCH_RECENT %}
					<li>
						<a href="{{ U_G_SEARCH_RECENT }}">
							<i class="icon fa-camera fa-fw icon-blue" aria-hidden="true"></i>
							<span>{{ lang('VIEW_SEARCH_RECENT') }}</span>
						</a>
					</li>
					{% endif %}
					{% if U_G_SEARCH_RANDOM %}
					<li>
						<a href="{{ U_G_SEARCH_RANDOM }}">
							<i class="icon fa-random fa-fw icon-blue" aria-hidden="true"></i>
							<span>{{ lang('VIEW_SEARCH_RANDOM') }}</span>
						</a>
					</li>
					{% endif %}
					{% if U_G_SEARCH_COMMENTED %}
					<li>
						<a href="{{ U_G_SEARCH_COMMENTED }}">
							<i class="icon fa-comments fa-fw icon-blue" aria-hidden="true"></i>
							<span>{{ lang('VIEW_SEARCH_COMMENTED') }}</span>
						</a>
					</li>
					{% endif %}
					{% if U_G_SEARCH_TOPRATED %}
					<li>
						<a href="{{ U_G_SEARCH_TOPRATED }}">
							<i class="icon fa-star-half-o fa-fw icon-blue" aria-hidden="true"></i>
							<span>{{ lang('VIEW_SEARCH_TOPRATED') }}</span>
						</a>
					</li>
					{% endif %}
					{% EVENT phpbbgallery_core_index_search_links_after %}
					{% if S_USER_LOGGED_IN %}
					<li>
						<a href="{{ U_G_SEARCH_SELF }}">
							<i class="icon fa-user fa-fw icon-blue" aria-hidden="true"></i>
							<span>{{ lang('VIEW_SEARCH_SELF') }}</span>
						</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</li>
</ul>
{% endif %}
<br />
<br />
<br />
{% if S_PERSONAL_GALLERY and U_USERS_PERSONAL_GALLERIES %}
	<div class="panel">
		<div class="inner">

		<ul class="linklist">
			<li>
				<strong style="font-size: 0.95em;">
				{% if U_YOUR_PERSONAL_GALLERY %}<a href="{{ U_YOUR_PERSONAL_GALLERY }}">{{ lang('YOUR_PERSONAL_ALBUM') }}</a>&nbsp;&laquo;&nbsp;{% endif %}
				<a href="{{ U_USERS_PERSONAL_GALLERIES }}">{{ lang('ALL') }}</a>&nbsp;
				{{ ALPHABET_NAVIGATION }}
			</li>
		</ul>
		</div>
	</div>
{% endif %}

{% include '@phpbbgallery_core/gallery/albumlist_index_sections.html' with { GALLERY_FUTURISTIC_VARIANT: 'prosilver' } %}

<br />
{% if S_PERSONAL_GALLERY %}
	<div class="topic-actions">
		<div class="pagination">{{ TOTAL_PGALLERIES_SHORT }}{% if PAGINATION %} &bull; <a href="#" onclick="jumpto(); return false;" title="{{ lang('JUMP_TO_PAGE') }}">{{ PAGE_NUMBER }}</a> &bull; <span>{{ PAGINATION }}</span>{% endif %}</div>
	</div>
{% endif %}

{% if S_USERS_PERSONAL_GALLERIES and TOTAL_PGALLERIES %}
	<div class="forabg">
		<div class="inner">
			<ul class="topiclist">
				<li class="header">
					<dl class="row-item">
						<dt>
							<div class="list-inner">
								<li>
									<a href="{{ U_USERS_PERSONAL_GALLERIES }}" title="{{ lang('USERS_PERSONAL_ALBUMS') }}"><i class="icon fa-camera fa-fw" aria-hidden="true"></i> {{ lang('PERSONAL_ALBUMS') }}</a>
								</li>
							</div>
						</dt>
						<dd class="topics">
							<a href="{{ U_G_SEARCH_RECENT }}" title="{{ GALLERY_TITLE }} {{ lang('GALLERY_IMAGES') }}">{{ lang('GALLERY_IMAGES') }}</a>
						</dd>
						<dd class="lastpost" style="width: 330px;">
							<a href="{{ U_IMAGE_ACTION }}" style="padding-left: 5px;" title="{{ lang('VIEW_LATEST_IMAGE') }}&colon; {{ U_IMAGENAME }}">{{ lang('LAST_IMAGE') }}</a>
						</dd>
					</dl>
				</li>
			</ul>
			<ul class="topiclist forums">
				<li class="row">
					<dl class="row-item forum_unread">
						<dt>
							<div class="list-inner">
								<a class="forumtitle" href="{{ U_USERS_PERSONAL_GALLERIES }}" title="{{ lang('USERS_PERSONAL_ALBUMS') }}">{% if TOTAL_PGALLERIES %}{{ TOTAL_PGALLERIES }}{% endif %}</a><br />
								{% if NEWEST_PGALLERIES %}
									{{ NEWEST_PGALLERIES }}
								{% endif %}
								<br />
								{% if S_PERSONAL_ALBUM %}
									{{ lang('YOUR_PERSONAL_ALBUM') }}{{ lang('COLON') }} <a href="{{ U_PERSONAL_ALBUM }}" title="{{ lang('YOUR_PERSONAL_ALBUM') }}" {% if not U_PERSONAL_ALBUM_COLOR %}class="username"{% else %}class="username-coloured" style="color: #{{ U_PERSONAL_ALBUM_COLOR }};"{% endif %}>{{ U_PERSONAL_ALBUM_USER }}</a>
								{% endif %}
								<div class="responsive-show" style="display: none;">
									{{ GALLERY_TITLE }} {{ lang('GALLERY_IMAGES') }}{{ lang('COLON') }} <strong><a href="{{ U_G_SEARCH_RECENT }}" title="{{ GALLERY_TITLE }} {{ lang('GALLERY_IMAGES') }}">{{ U_PERSONAL_GALLERIES_IMAGES }}</a></strong><br />
									<div style="float: left;">
										<dfn>{{ lang('LAST_IMAGES') }}</dfn>
										<a href="{{ U_IMAGE_ACTION }}"><img src="{{ U_PERSONAL_GALLERIES_LAST_IMAGE }}" title="{{ lang('VIEW_LATEST_IMAGE') }}&colon; {{ U_IMAGENAME }}"{% if U_IMAGENAME %} alt="{{ U_IMAGENAME }}"{% endif %} style="max-width: 50px; max-height: 50px; padding: 5px;"></a>
									</div>
									<div style="margin-bottom: -12px; white-space: normal; overflow: hidden;">
										{% if U_IMAGENAME %}{{ lang('LAST_IMAGE') }}{{ lang('COLON') }} <a href="{{ U_IMAGENAME_ACTION }}" style="font-weight: bold;" title="{{ lang('VIEW_LATEST_IMAGE') }}&colon; {{ U_IMAGENAME }}">{{ U_IMAGENAME }}</a><br />
											{{ lang('UPLOADED_BY_USER') }}{{ lang('COLON') }} {{ U_UPLOADER }}<br />
											&raquo; {{ U_TIME }}
										{% endif %}
									</div>
									<br />
								</div>
							</div>
						</dt>
						<dd class="topics">
							<dfn>{{ lang('GALLERY_IMAGES') }}</dfn>
							<strong><a href="{{ U_G_SEARCH_RECENT }}" title="{{ GALLERY_TITLE }} {{ lang('GALLERY_IMAGES') }}">{{ U_PERSONAL_GALLERIES_IMAGES }}</a></strong>
						</dd>
						<dd class="lastpost" style="width: 330px;">
							<div style="float: left;">
									<dfn>{{ lang('LAST_IMAGES') }}</dfn>
								<a href="{{ U_IMAGE_ACTION }}"><img src="{{ U_PERSONAL_GALLERIES_LAST_IMAGE }}" title="{{ lang('VIEW_LATEST_IMAGE') }}&colon; {{ U_IMAGENAME }}"{% if U_IMAGENAME %} alt="{{ U_IMAGENAME }}"{% endif %} style="max-width: 50px; max-height: 50px; padding-left: 5px;"></a>
							</div>
							<div style="padding-left: 5px; margin-bottom: -12px; white-space: normal; overflow: hidden;">
								{% if U_IMAGENAME %}<a href="{{ U_IMAGENAME_ACTION }}" style="font-weight: bold;" title="{{ lang('VIEW_LATEST_IMAGE') }}&colon; {{ U_IMAGENAME }}">{{ U_IMAGENAME }}</a><br />
									{{ lang('UPLOADED_BY_USER') }}{{ lang('COLON') }} {{ U_UPLOADER }}<br />
									&raquo; {{ U_TIME }}
								{% endif %}
							</div>
							<br />
						</dd>
					</dl>
				</li>
			</ul>
		</div>
	</div>
{% endif %}

{% EVENT phpbbgallery_core_index_featured_before %}
{% if imageblock|length %}
	{% include '@phpbbgallery_core/gallery/imageblock_layout.html' %}
{% endif %}
{% if U_RECENT_COMMENTS %}
	<h2><a href="javascript: toggleElement( getElement('recent-comments'));">{{ lang('SEARCH_RECENT_COMMENTS') }}</a> </h2>
	{% if ERROR %}<h2>{{ ERROR }}</h2>
	{% else %}
	<div id="recent-comments"{% if COLLAPSE_COMMENTS %} style="display: none;"{% endif %}>
		<br />
		{% for commentrow in commentrow %}
		<div class="post {% if commentrow.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}">
			<a id="comment{{ commentrow.COMMENT_ID }}" class="anchor"></a>
			<div class="inner">
				<dl class="postprofile" id="profile{{ commentrow.COMMENT_ID }}">
					<dt>
						{{ lang('COMMENT_ON') }} {{ lang('IMAGE') }}{{ lang('COLON') }}
						{{ commentrow.UC_IMAGE_NAME }}<br /><br />
						{{ commentrow.UC_THUMBNAIL }}<br /><br />
						{{ lang('UPLOADED_BY_USER') }}&nbsp;{{ commentrow.IMAGE_AUTHOR }}<br />
						&raquo; {{ commentrow.IMAGE_TIME }}
					</dt>
				</dl>
				<div class="postbody">
					{% if commentrow.U_EDIT or commentrow.U_DELETE or commentrow.U_QUOTE %}
						<ul class="post-buttons">
							{% if commentrow.U_EDIT %}<li><a href="{{ commentrow.U_EDIT }}" title="{{ lang('EDIT_COMMENT') }}" class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('EDIT_COMMENT') }}</span></a></li>{% endif %}
							{% if commentrow.U_DELETE %}<li><a href="{{ commentrow.U_DELETE }}" title="{{ lang('DELETE_COMMENT') }}" class="button button-icon-only"><i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE_COMMENT') }}</span></a></li>{% endif %}
							{% if commentrow.U_QUOTE %}<li><a href="{{ commentrow.U_QUOTE }}" title="{{ lang('QUOTE_COMMENT') }}" class="button button-icon-only"><i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('QUOTE_COMMENT') }}</span></a></li>{% endif %}
						</ul>
					{% endif %}
					<p class="author" style="clear: inherit; margin-top: 1.5em;">{% if S_IS_BOT %}<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i>{{ lang('COMMENT') }}<span class="sr-only">{{ commentrow.MINI_POST }}</span>{% else %}<a href="{{ commentrow.U_COMMENT }}" title="{{ lang('COMMENT') }}"><i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i>{{ lang('COMMENT') }}&nbsp;<span class="sr-only">{{ commentrow.MINI_POST }}</span></a>{% endif %}<span style="white-space: nowrap;">{{ lang('POST_BY_AUTHOR') }}&nbsp;{{ commentrow.POST_AUTHOR_FULL }} </span>&raquo;<span style="white-space: nowrap;"> {{ commentrow.TIME }}</span></p>
					<div class="content">{{ commentrow.TEXT }}</div>
				</div>
				{% EVENT viewtopic_body_postrow_back2top_before %}
					<div class="back2top">
						{% EVENT viewtopic_body_postrow_back2top_prepend %}
							<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
								<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
								<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
							</a>
						{% EVENT viewtopic_body_postrow_back2top_append %}
					</div>
				{% EVENT viewtopic_body_postrow_back2top_after %}
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
{% endif %}


{% if not S_USER_LOGGED_IN and not S_IS_BOT and S_DISP_LOGIN %}
	<form method="post" action="{{ S_LOGIN_ACTION }}" class="headerspace">
	<h3><a href="{{ U_LOGIN_LOGOUT }}">{{ lang('LOGIN_LOGOUT') }}</a>{% if S_REGISTER_ENABLED %}&nbsp; &bull; &nbsp;<a href="{{ U_REGISTER }}">{{ lang('REGISTER') }}</a>{% endif %}</h3>
		<fieldset class="quick-login">
			<label for="username">{{ lang('USERNAME') }}{{ lang('COLON') }}</label>&nbsp;<input type="text" name="username" id="username" size="10" class="inputbox" title="{{ lang('USERNAME') }}" />
			<label for="password">{{ lang('PASSWORD') }}{{ lang('COLON') }}</label>&nbsp;<input type="password" name="password" id="password" size="10" class="inputbox" title="{{ lang('PASSWORD') }}" />
			{% if S_AUTOLOGIN_ENABLED %}
				| <label for="autologin">{{ lang('LOG_ME_IN') }} <input type="checkbox" name="autologin" id="autologin" /></label>
			{% endif %}
			<input type="submit" name="login" value="{{ lang('LOGIN') }}" class="button2" />
		</fieldset>
	</form>
{% endif %}

{% if S_DISPLAY_ONLINE_LIST %}
	{% if U_VIEWONLINE %}<h3><a href="{{ U_VIEWONLINE }}">{{ lang('WHO_IS_ONLINE') }}</a></h3>{% else %}<h3>{{ lang('WHO_IS_ONLINE') }}</h3>{% endif %}
	<p class="phpbbgallery-online-users">{{ TOTAL_USERS_ONLINE }} ({{ lang('ONLINE_EXPLAIN') }})<br />{{ RECORD_USERS }}<br /> <br />{{ LOGGED_IN_USER_LIST }}
	{% if LEGEND %}<br /><em>{{ lang('LEGEND') }}{{ lang('COLON') }} {{ LEGEND }}</em>{% endif %}</p>
{% endif %}

{% if S_DISPLAY_BIRTHDAY_LIST %}
	<h3>{{ lang('BIRTHDAYS') }}</h3>
	<p>{% if birthdays|length %}{{ lang('CONGRATULATIONS') }}{{ lang('COLON') }} <strong>{% for birthdays in birthdays %}{{ birthdays.USERNAME }}{% if birthdays.AGE is not same as('') %} ({{ birthdays.AGE }}){% endif %}{% if not birthdays.S_LAST_ROW %}, {% endif %}{% endfor %}</strong>{% else %}{{ lang('NO_BIRTHDAYS') }}{% endif %}</p>
{% endif %}

{% if TOTAL_IMAGE_COUNT is not same as(false) %}
	<h3><a href="{{ U_GALLERY_STATISTICS }}">{{ lang('GALLERY_STATISTICS') }}</a></h3>
	<p>{{ lang('GALLERY_IMAGES') }}{{ lang('COLON') }} <strong>{{ TOTAL_IMAGE_COUNT }}</strong>{% if TOTAL_VIEWS is not same as(false) %} &bull; {{ lang('TOTAL_VIEWS') }}{{ lang('COLON') }} <strong>{{ TOTAL_VIEWS }}</strong>{% endif %}{% if TOTAL_COMMENTS %} &bull; {{ TOTAL_COMMENTS }}{% endif %}{% if TOTAL_PGALLERIES %} &bull; {{ TOTAL_PGALLERIES }}{% if NEWEST_PGALLERIES %} &bull; {{ NEWEST_PGALLERIES }}{% endif %}{% endif %}</p>
{% endif %}

{% include 'gallery/gallery_footer.html' %}
