{% include 'gallery/gallery_header.html' %}

<h2>{{ lang('MCP') }}</h2>

{% if not S_MOVING_IMAGES and not S_MODE_OVERVIEW %}
<p class="linkmcp">
	[ <a href="{{ U_VIEW_ALBUM }}">{{ ALBUM_NAME }}</a> | <a href="{{ U_MOD_ALBUM }}">{{ lang('MODERATE_ALBUM') }}</a> | <a href="{{ U_MCP_OVERVIEW }}">{{ lang('GALLERY_MCP_OVERVIEW') }}</a> ]
</p>

<div id="tabs">
	<ul>
		{% for tabs in tabs %}
			<li {% if tabs.TAB_ACTIVE %} class="activetab"{% endif %}><a href="{{ tabs.U_TAB }}"><span>{{ tabs.TAB_NAME }}</span></a></li>
		{% endfor %}
	</ul>
</div>

<div class="panel bg3">
	<div class="inner">
	<div style="width: 100%;">
	<div id="cp-menu">
		<div id="navigation">
			<ul>
				{% for tabs in tabs %}
					{% for modes in tabs.modes %}
						<li {% if modes.MODE_ACTIVE %} id="active-subsection"{% endif %}><a href="{{ modes.U_MODE }}"><span>{{ modes.MODE_NAME }}</span></a></li>
					{% endfor %}
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id="cp-main" class="mcp-main">
	<h2>{{ SUBSECTION }} - <a href="{{ U_VIEW_ALBUM }}">{{ lang('ALBUM') }}{{ lang('COLON') }} {{ ALBUM_NAME }}</a></h2>

	{% if S_GALLERY_MCP_VIEWALBUM or S_QUEUE_LIST or S_REPORT_LIST %}
		<div class="panel">
			<div class="inner">

			{% if TITLE %}<h3>{{ TITLE }}</h3>{% endif %}
			{% if DESCRIPTION %}<p>{{ DESCRIPTION }}</p>{% endif %}

			<form method="post" id="mcp" action="{{ S_MCP_ACTION }}">
			{% if image_row|length %}
				<ul class="topiclist">
					<li class="header">
						<dl>
							<dt>{{ lang('IMAGES') }}</dt>
							{% if S_COMMENTS %}<dd class="g_comments">{{ lang('COMMENTS') }}</dd>{% endif %}
							{% if S_RATINGS %}<dd class="g_rating">{{ lang('RATING') }}</dd>{% endif %}
							{% if S_REPORTER %}<dd class="moderation"><span>{{ lang('REPORTER_AND_ALBUM') }}</span></dd>{% endif %}
							{% if S_STATUS %}<dd class="g_status">{{ lang('STATUS') }}</dd>{% endif %}
							{% if S_MARK %}<dd class="mark">{{ lang('MARK') }}</dd>{% endif %}
						</dl>
					</li>
				</ul>

				<ul class="topiclist cplist">
				{% for image_row in image_row %}
					<li class="row{% if image_row.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}{% if image_row.S_REPORTED %} reported{% endif %}">
						<dl>
							<dt>
								{% if DISP_FAKE_THUMB and image_row.THUMBNAIL %}<span style="float: left; text-align: center; width: {{ FAKE_THUMB_SIZE }}px; padding-right: 5px;">{{ image_row.THUMBNAIL }}</span>{% endif %}
								<a href="{% if not S_REPORT %}{{ image_row.U_IMAGE_PAGE }}{% else %}{{ image_row.U_REPORT }}{% endif %}" class="topictitle">{{ image_row.IMAGE_NAME }}</a>{% if image_row.S_REPORTED %} <a href="{{ image_row.U_REPORT }}">{{ REPORTED_IMG }}</a>{% endif %}{% if image_row.S_UNAPPROVED %} <a href="{{ image_row.U_QUEUE }}">{{ UNAPPROVED_IMG }}</a>{% endif %}<br />
								<span>{{ lang('POST_BY_AUTHOR') }} {{ image_row.UPLOADER }}<br />
								&raquo; {{ image_row.IMAGE_TIME }}
								{% if image_row.REPORT_MOD %}<br />{{ lang('REPORT_MOD') }} {{ image_row.REPORT_MOD }}{% endif %}</span>
							</dt>
							{% if S_COMMENTS %}<dd class="g_comments">{{ image_row.COMMENTS }}</dd>{% endif %}
							{% if S_RATINGS %}<dd class="g_rating">{{ image_row.RATING }}</dd>{% endif %}
							{% if S_REPORTER %}
								<dd class="moderation">
									<span>{{ lang('REPORT_BY') }} {{ image_row.REPORTER }}<br />
									{{ image_row.REPORT_TIME }}<br />
									{{ lang('ALBUM') }}{{ lang('COLON') }} <a href="{{ U_VIEW_ALBUM }}" style="font-weight: bold;">{{ ALBUM_NAME }}</a></span>
								</dd>
							{% endif %}
							{% if S_STATUS %}<dd class="g_status">{{ image_row.STATUS }}{% if image_row.S_REPORTED %}<br />{{ lang('IMAGE_REPORTED') }}{% endif %}</dd>{% endif %}
							{% if S_MARK %}<dd class="mark"><input type="checkbox" name="image_id_ary[]" value="{% if not S_REPORT_LIST %}{{ image_row.IMAGE_ID }}{% else %}{{ image_row.REPORT_ID }}{% endif %}" /></dd>{% endif %}
						</dl>
					</li>
				{% endfor %}
				</ul>

				<fieldset class="display-options">
					{% if NEXT_PAGE %}<a href="{{ NEXT_PAGE }}" class="right-box {{ S_CONTENT_FLOW_END }}">{{ lang('NEXT') }}</a>{% endif %}
					{% if PREVIOUS_PAGE %}<a href="{{ PREVIOUS_PAGE }}" class="left-box {{ S_CONTENT_FLOW_BEGIN }}">{{ lang('PREVIOUS') }}</a>{% endif %}
					<label>{{ lang('SORT_BY') }}
						<select name="sk">
							<option{% if S_SORT_KEY == 'image_time' %} selected="selected"{% endif %} value='image_time'>{{ lang('TIME') }}</option>
							<option{% if S_SORT_KEY == 'image_name' %} selected="selected"{% endif %} value='image_name'>{{ lang('IMAGE_NAME') }}</option>
							<option{% if S_SORT_KEY == 'image_username' %} selected="selected"{% endif %} value='image_username'>{{ lang('SORT_USERNAME') }}</option>
							{% if not S_REPORT_LIST or S_QUEUE_LIST %}
								<option{% if S_SORT_KEY == 'image_view_count' %} selected="selected"{% endif %} value='image_view_count'>{{ lang('GALLERY_VIEWS') }}</option>
							{% endif %}
							{% if S_REPORT_LIST %}
								<option{% if S_SORT_KEY == 'reporter_name' %} selected="selected"{% endif %} value='reporter_name'>{{ lang('REPORTER') }}</option>
								<option{% if S_SORT_KEY == 'mod_username' %} selected="selected"{% endif %} value='mod_username'>{{ lang('MODERATOR') }}</option>
							{% endif %}
							{% if S_RATINGS %}
								<option{% if S_SORT_KEY == 'image_rate_avg' %} selected="selected"{% endif %} value='image_rate_avg'>{{ lang('RATING') }}</option>
							{% endif %}
							{% if S_COMMENTS %}
								<option{% if S_SORT_KEY == 'image_comments' %} selected="selected"{% endif %} value='image_comments'>{{ lang('COMMENTS') }}</option>
								<option{% if S_SORT_KEY == 'image_last_comment' %} selected="selected"{% endif %} value='image_last_comment'>{{ lang('LAST_COMMENT') }}</option>
							{% endif %}
						</select>
					</label>
					<label>
						<select name="sd">
							<option{% if S_SORT_DESC %} selected="selected"{% endif %} value='DESC'>{{ lang('SORT_DESCENDING') }}</option>
							<option{% if not S_SORT_DESC %} selected="selected"{% endif %} value='ASC'>{{ lang('SORT_ASCENDING') }}</option>
						</select>
					<input type="submit" name="sort" value="{{ lang('GO') }}" class="button2" /></label>
				</fieldset>
			{% else %}
				{% if NO_IMAGES_NOTE %}
				<ul class="topiclist">
					<li><p class="notopics">{{ NO_IMAGES_NOTE }}</p></li>
				</ul>
				{% endif %}
			{% endif %}

			{% if PAGINATION or TOTAL_IMAGES %}
				<hr />
				<ul class="linklist">
					<li class="rightside pagination">
						{% if TOTAL_IMAGES %} {{ TOTAL_IMAGES }}{% endif %}
						{% if PAGE_NUMBER %}{% if PAGINATION %} &bull; <a href="#" onclick="jumpto(); return false;" title="{{ lang('JUMP_TO_PAGE') }}">{{ PAGE_NUMBER }}</a> &bull; <span>{{ PAGINATION }}</span>{% else %} &bull; {{ PAGE_NUMBER }}{% endif %}{% endif %}
					</li>
				</ul>
			{% endif %}

			</div>
		</div>
		<fieldset class="display-actions">
			<select name="action">
				<option value="" selected="selected">{{ lang('CHOOSE_ACTION') }}</option>
				{% if S_ALLOWED_MOVE and not S_REPORT_LIST and not S_QUEUE_LIST %}
					<option value="images_move">{{ lang('QUEUES_A_MOVE') }}</option>
				{% endif %}
				{% if S_ALLOWED_STATUS and not S_REPORT_LIST %}
					<option value="images_unapprove">{{ lang('QUEUE_A_UNAPPROVE') }}</option>
					<option value="images_approve">{{ lang('QUEUE_A_APPROVE') }}</option>
					<option value="images_lock">{{ lang('QUEUE_A_LOCK') }}</option>
				{% endif %}
				{% if S_ALLOWED_DELETE and not S_REPORT_LIST %}
					<option value="images_delete">{{ lang('QUEUE_A_DELETE') }}</option>
				{% endif %}
				{% if S_ALLOWED_REPORT and S_REPORT_LIST %}
					<option value="reports_close">{{ lang('REPORT_A_CLOSE') }}</option>
					<option value="reports_open">{{ lang('REPORT_A_OPEN') }}</option>
					<option value="reports_delete">{{ lang('REPORT_A_DELETE') }}</option>
				{% endif %}
			</select>
			<input class="button2" type="submit" value="{{ lang('SUBMIT') }}" />
			<div><a href="#" onclick="marklist('mcp', 'image_id_ary', true); return false;">{{ lang('MARK_ALL') }}</a> :: <a href="#" onclick="marklist('mcp', 'image_id_ary', false); return false;">{{ lang('UNMARK_ALL') }}</a></div>
		</fieldset>
		</form>

	{% endif %}

	{% if S_GALLERY_MCP_REPO_DETAIL or S_GALLERY_MCP_QUEUE_DETAIL %}
		<div class="panel">
			<div class="inner">

			<div class="postbody">
				<ul class="profile-icons">
					<li class="edit-icon"><a href="{{ U_EDIT_IMAGE }}" title="{{ lang('EDIT_IMAGE') }}"><span>{{ lang('EDIT_IMAGE') }}</span></a></li>
					<li class="delete-icon"><a href="{{ U_DELETE_IMAGE }}" title="{{ lang('DELETE_IMAGE') }}"><span>{{ lang('DELETE_IMAGE') }}</span></a></li>
				</ul>
				<h3>{{ IMAGE_NAME }}</h3>
				<p class="author">
					{{ lang('POST_BY_AUTHOR') }} {{ UPLOADER }}<br />
					{{ IMAGE_TIME }}<br />
					{{ lang('ALBUM') }}{{ lang('COLON') }} <a href="{{ U_VIEW_ALBUM }}" style="font-weight: bold;">{{ ALBUM_NAME }}</a>{% if U_MOVE_IMAGE %} &raquo; <a href="{{ U_MOVE_IMAGE }}" style="font-weight: bold;">{{ lang('MOVE') }}</a>{% endif %}<br />
					{{ lang('STATUS') }}{{ lang('COLON') }} <span style="font-weight: bold;">{{ STATUS }}</span>
				</p>

				<div class="content">
					<div style="text-align: center; padding: 20px;">{{ UC_IMAGE }}</div>
					{% if IMAGE_DESC %}
						<hr />
						<span style="font-weight: bold;">{{ lang('IMAGE_DESC') }}{{ lang('COLON') }}</span><br />
						{{ IMAGE_DESC }}
					{% endif %}
				</div>
			</div>
			</div>
		</div>

		{% if S_GALLERY_MCP_REPO_DETAIL %}
			<div id="report" class="panel">
				<div class="inner">

				<div class="postbody">
					<p class="author">{{ lang('REPORT_BY') }} {{ REPORTER }} &raquo; {{ REPORT_TIME }}</p>
					<div class="content">{{ REPORT_NOTE }}</div>
				</div>
				</div>
			</div>
		{% endif %}

		<form method="post" action="{{ S_MCP_ACTION }}">
			<fieldset class="submit-buttons">
				<select name="action">
					<option value="" selected="selected">{{ lang('CHOOSE_ACTION') }}</option>
					{% if S_GALLERY_MCP_QUEUE_DETAIL %}
						{% if IMAGE_STATUS == 0 %}
							<option value="images_approve">{{ lang('QUEUE_A_APPROVE') }}</option>
							<option value="images_lock">{{ lang('QUEUE_A_LOCK') }}</option>
						{% elseif IMAGE_STATUS == 1 %}
							<option value="images_unapprove">{{ lang('QUEUE_A_UNAPPROVE') }}</option>
							<option value="images_lock">{{ lang('QUEUE_A_LOCK') }}</option>
						{% else %}
							<option value="images_unapprove">{{ lang('QUEUE_A_UNAPPROVE') }}</option>
							<option value="images_approve">{{ lang('QUEUE_A_APPROVE') }}</option>
						{% endif %}
						<option value="images_delete">{{ lang('QUEUE_A_DELETE') }}</option>
					{% else %}
						{% if REPORT_STATUS %}
							<option value="reports_close">{{ lang('REPORT_A_CLOSE') }}</option>
						{% else %}
							<option value="reports_open">{{ lang('REPORT_A_OPEN') }}</option>
						{% endif %}
						<option value="reports_delete">{{ lang('REPORT_A_DELETE') }}</option>
					{% endif %}
				</select>
				<input class="button2" type="submit" value="{{ lang('SUBMIT') }}" />
				<input type="hidden" value="{{ REPORT_ID }}" name="image_id_ary[{{ REPORT_ID }}]" />
			</fieldset>
		</form>
	{% endif %}
	</div>
	<div class="clear"></div>

	</div></div>
</div>
{% elseif S_MODE_OVERVIEW %}
<div class="panel bg3">
	<div class="inner">
	<div style="width: 100%;">
	<div id="cp-menu">&nbsp;</div>

	<div id="cp-main" class="mcp-main">
	<h2>{{ SUBSECTION }}</h2>

	<div class="panel">
		<div class="inner">

		<h3>{{ lang('LATEST_IMAGES_UNAPPROVED') }}</h3>

		{% if queue_row|length %}
		<ul class="topiclist cplist">
			{% for queue_row in queue_row %}
			<li class="row{% if queue_row.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}">
				<dl>
					<dt>
						{% if DISP_FAKE_THUMB and queue_row.THUMBNAIL %}<span style="float: left; text-align: center; width: {{ FAKE_THUMB_SIZE }}px; padding-right: 5px;">{{ queue_row.THUMBNAIL }}</span>{% endif %}
						<a href="{{ queue_row.U_IMAGE_PAGE }}" class="topictitle">{{ queue_row.IMAGE_NAME }} {{ UNAPPROVED_IMG }}</a><br />
						<span>{{ lang('POST_BY_AUTHOR') }} {{ queue_row.UPLOADER }}<br />
						&raquo; {{ queue_row.IMAGE_TIME }}</span>
					</dt>
				</dl>
			</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>{{ NO_UNAPPROVED_IMAGE }}</strong>
		{% endif %}

		></div>
	</div>

	<div class="panel">
		<div class="inner">

		<h3>{{ lang('LATEST_IMAGES_REPORTED') }}</h3>

		{% if report_row|length %}
		<ul class="topiclist cplist">
			{% for report_row in report_row %}
			<li class="row{% if report_row.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}">
			<dl>
				<dt>
					{% if DISP_FAKE_THUMB and report_row.THUMBNAIL %}<span style="float: left; text-align: center; width: {{ FAKE_THUMB_SIZE }}px; padding-right: 5px;">{{ report_row.THUMBNAIL }}</span>{% endif %}
					<a href="{% if not S_REPORT %}{{ report_row.U_IMAGE_PAGE }}{% else %}{{ report_row.U_REPORT }}{% endif %}" class="topictitle">{{ report_row.IMAGE_NAME }}</a>{% if report_row.S_REPORTED %} <a href="{{ report_row.U_REPORT }}">{{ REPORTED_IMG }}</a>{% endif %}{% if report_row.S_UNAPPROVED %} <a href="{{ report_row.U_QUEUE }}">{{ UNAPPROVED_IMG }}</a>{% endif %}<br />
					<span>{{ lang('POST_BY_AUTHOR') }} {{ report_row.UPLOADER }}<br />
					&raquo; {{ report_row.IMAGE_TIME }}
					{% if report_row.REPORT_MOD %}<br />{{ lang('REPORT_MOD') }} {{ report_row.REPORT_MOD }}{% endif %}</span>
				</dt>
				<dd class="moderation">
					<span>{{ lang('REPORT_BY') }} {{ report_row.REPORTER }}<br />
					{{ report_row.REPORT_TIME }}
				</dd>
			</dl>
			</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong>{{ NO_REPORTED_IMAGE }}</strong>
		{% endif %}

		</div>
	</div>

	</div>
	<div class="clear"></div>

	</div>
	</div>
</div>
{% else %}
<form method="post" id="mcp" action="{{ S_MCP_ACTION }}">
<div class="panel" id="message">
	<div class="inner">
		<h2>{{ lang('MOVE') }}</h2>
		<p>
			{{ lang('MOVE_TO_ALBUM') }} &nbsp; {{ S_ALBUM_SELECT }} &nbsp;
			<input class="button2" type="submit" name="move" value="{{ lang('MOVE') }}" />
			{{ S_HIDDEN_FIELDS }}{{ S_FORM_TOKEN }}
		</p>
	</div>
</div>
</form>
{% endif %}

{% include 'gallery/gallery_footer.html' %}