{% include 'gallery/gallery_header.html' %}

<h2>{{ lang('MCP') }}{% if U_ALBUM_NAME %} - {{ U_ALBUM_NAME }}{% endif %}</h2>
{% if pagination|length %}
	<div class="topic-actions">
		<div class="pagination">
			{{ TOTAL_PAGES }}
			{% if pagination|length %}
				{% include 'pagination.html' %}
			{% else %}
				{{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>
{% endif %}
<br />
<div id="tabs" class="tabs">
	<ul>
		<li class="tab"><a href="{{ U_GALLERY_MODERATE_OVERVIEW }}">{{ lang('GALLERY_MCP_MAIN') }}</a></li>
		{% if U_ALBUM_OVERVIEW %}<li class="tab"><a href="{{ U_ALBUM_OVERVIEW }}">{{ lang('GALLERY_MCP_ALBUM_OVERVIEW') }}</a></li>{% endif %}
		<li class="tab"><a href="{{ U_GALLERY_MODERATE_APPROVE }}">{{ lang('GALLERY_MCP_QUEUE') }}</a></li>
		<li class="tab"><a href="{{ U_GALLERY_MODERATE_REPORT }}">{{ lang('GALLERY_MCP_REPORTED') }}</a></li>
		<li class="tab activetab"><a href="{{ U_GALLERY_MCP_LOGS }}">{{ lang('MCP_LOGS') }}</a></li>
	</ul>
</div>
<div class="panel bg3">
	<div class="inner">
		<div style="width: 100%;">
			<div id="cp-menu" class="cp-menu">
				<div class="navigation responsive-hide" id="navigation" role="navigation">
					<ul>
						<li id="active-subsection" class="active-subsection"><a href=""><span>{{ lang('MCP_LOGS') }}</span></a></li>
					</ul>
				</div>
			</div>
			<div id="cp-main" class="cp-main mcp-main panel-container">
				<h2>{{ lang('MCP_LOGS') }}</h2>
				{% include 'gallery/moderate_actions_queue.html' %}
			</div>
		</div>
	</div>
</div>
{% if pagination|length %}
	<div class="topic-actions">
		<div class="pagination">
			{{ TOTAL_PAGES }}
			{% if pagination|length %}
				{% include 'pagination.html' %}
			{% else %}
				{{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>
	<br />
{% endif %}
<br />
{% include 'gallery/gallery_footer.html' %}
