<div class="panel">
	<div class="inner">
		{% if U_OVERVIEW %}
		<h3>{{ lang('LATEST_LOGS') }}</h3>
		{% endif %}
		{% if S_HAS_LOGS %}
			<table class="table1 responsive">
				<thead>
					<tr>
						<th class="name">{{ lang('ACTION') }}</th>
						<th class="name">{{ lang('USERNAME') }}</th>
						<th class="name">{{ lang('IP') }}</th>
						<th class="name">{{ lang('LOGVIEW_VIEWALBUM') }}</th>
						<th class="name">{{ lang('LOGVIEW_VIEWIMAGE') }}</th>
						<th class="name">{{ lang('TIME') }}</td>
					</tr>
				</thead>
				<tbody>
					{% for log in log %}
					<tr class="{% if log.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}">
						<td>{{ log.U_LOG_ACTION }}</td>
						<td>{{ log.U_LOG_USER }}</td>
						<td>{{ log.U_LOG_IP }}</td>
						<td>{% if log.U_ALBUM_LINK %}<a href="{{ log.U_ALBUM_LINK }}">{{ lang('LOGVIEW_VIEWALBUM') }}</a>{% else %}&nbsp;{% endif %}</td>
						<td>{% if log.U_IMAGE_LINK %}<a href="{{ log.U_IMAGE_LINK }}">{{ lang('LOGVIEW_VIEWIMAGE') }}</a>{% else %}&nbsp;{% endif %}</td>
						<td>{{ log.U_TIME }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% else %}
		<p>{{ lang('NO_ENTRIES') }} </p>
		{% endif %}
	</div>
</div>
