{% include 'gallery/gallery_header.html' %}

<h2>{{ lang('MCP') }}{% if U_ALBUM_NAME %} - {{ U_ALBUM_NAME }}{% endif %}</h2>
{% if pagination|length %}
	<div class="topic-actions">
		<div class="pagination">
			{{ TOTAL_PAGES }}
			{% if pagination|length %}
				{% include '@phpbbgallery_core/gallery/list_pagination.html' with { pagination: pagination, GALLERY_BOOTSTRAP_PAGINATION: false } %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>
{% endif %}
<br />
<div id="tabs" class="tabs">
	<ul>
		<li class="tab"><a href="{{ U_GALLERY_MODERATE_OVERVIEW }}">{{ lang('GALLERY_MCP_MAIN') }}</a></li>
		{% if U_ALBUM_OVERVIEW %}<li class="tab"><a href="{{ U_ALBUM_OVERVIEW }}">{{ lang('GALLERY_MCP_ALBUM_OVERVIEW') }}</a></li>{% endif %}
		<li class="tab"><a href="{{ U_GALLERY_MODERATE_APPROVE }}">{{ lang('GALLERY_MCP_QUEUE') }}</a></li>
		<li class="tab activetab"><a href="{{ U_GALLERY_MODERATE_REPORT }}">{{ lang('GALLERY_MCP_REPORTED') }}</a></li>
		<li class="tab"><a href="{{ U_GALLERY_MCP_LOGS }}">{{ lang('MCP_LOGS') }}</a></li>
	</ul>
</div>
<div class="panel bg3">
	<div class="inner">
		<div style="width: 100%;">
			<div id="cp-menu" class="cp-menu">
				<div class="navigation responsive-hide" id="navigation" role="navigation">
					<ul>
						<li{% if U_STATUS %} id="active-subsection" class="active-subsection"{% endif %}><a href="{{ U_GALLERY_MODERATE_REPORT }}"><span>{{ lang('GALLERY_MCP_REPO_OPEN') }}</span></a></li>
						<li{% if not U_STATUS %} id="active-subsection" class="active-subsection"{% endif %}><a href="{{ U_GALLERY_MODERATE_REPORT_CLOSED }}"><span>{{ lang('GALLERY_MCP_REPO_DONE') }}</span></a></li>
					</ul>
				</div>
			</div>
			<div id="cp-main" class="cp-main mcp-main panel-container">
				<h2>{% if U_STATUS %}{{ lang('GALLERY_MCP_REPO_OPEN') }}{% else %}{{ lang('GALLERY_MCP_REPO_DONE') }}{% endif %}</h2>
				{% include 'gallery/moderate_report_queue.html' %}
			</div>
		</div>
	</div>
</div>
{% if pagination|length %}
	<div class="topic-actions">
		<div class="pagination">
			{{ TOTAL_PAGES }}
			{% if pagination|length %}
				{% include '@phpbbgallery_core/gallery/list_pagination.html' with { pagination: pagination, GALLERY_BOOTSTRAP_PAGINATION: false } %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>
	<br />
{% endif %}
<br />
{% include 'gallery/gallery_footer.html' %}
