{% include 'gallery/imageblock_body.html' %}

{% if commentrow|length %}
	<h4>{% if not COLLAPSE_COMMENTS %}{% if U_G_SEARCH_COMMENTED %}<a href="{{ U_G_SEARCH_COMMENTED }}">{{ lang('RECENT_COMMENTS') }}</a>{% else %}{{ lang('RECENT_COMMENTS') }}{% endif %}{% else %}{{ lang('RECENT_COMMENTS') }}{% endif %}</h4>
	<div id="recent-comments"{% if COLLAPSE_COMMENTS %} style="display: none;"{% endif %}>
	{% for commentrow in commentrow %}
	<a id="comment_{{ commentrow.COMMENT_ID }}"></a>
	<div class="post {% if commentrow.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}">
		<div class="inner">
			<dl class="postprofile" id="profile{{ commentrow.COMMENT_ID }}">
				<dt>
					{{ lang('COMMENT_ON') }} {{ lang('IMAGE') }}{{ lang('COLON') }}
					{{ commentrow.UC_IMAGE_NAME }}<br /><br />
					{{ commentrow.UC_THUMBNAIL }}<br /><br />
					{{ lang('IMAGE') }} {{ lang('UPLOADED_BY_USER') }} {{ commentrow.IMAGE_AUTHOR }}<br />
					&raquo; {{ commentrow.IMAGE_TIME }}
				</dt>
			</dl>
			<div class="postbody">
				{% if commentrow.U_DELETE or commentrow.U_EDIT or commentrow.U_WHOIS or commentrow.U_QUOTE %}
					<ul class="profile-icons">
						{% if commentrow.U_EDIT %}<li class="edit-icon"><a href="{{ commentrow.U_EDIT }}" title="{{ lang('EDIT_COMMENT') }}"><span>{{ lang('EDIT_COMMENT') }}</span></a></li>{% endif %}
						{% if commentrow.U_DELETE %}<li class="delete-icon"><a href="{{ commentrow.U_DELETE }}" title="{{ lang('DELETE_COMMENT') }}"><span>{{ lang('DELETE_COMMENT') }}</span></a></li>{% endif %}
						{% if commentrow.U_WHOIS %}<li class="info-icon"><a href="{{ commentrow.U_WHOIS }}" title="{{ lang('IP') }}" onclick="popup(this.href, 750, 500); return false;"><span>{{ lang('IP') }}</span></a></li>{% endif %}
						{% if commentrow.U_QUOTE %}<li class="quote-icon"><a href="{{ commentrow.U_QUOTE }}" title="{{ lang('QUOTE_COMMENT') }}"><span>{{ lang('QUOTE_COMMENT') }}</span></a></li>{% endif %}
					</ul>
				{% endif %}
				<p class="author"><a href="{{ commentrow.U_COMMENT }}" title="{{ lang('COMMENT') }}">{{ lang('COMMENT') }}&nbsp;</a><span style="white-space: nowrap;">{{ lang('POST_BY_AUTHOR') }}&nbsp;{{ commentrow.POST_AUTHOR_FULL }}</span> &raquo;<span style="white-space: nowrap;"> {{ commentrow.TIME }}</span></p>
				<div class="content">{{ commentrow.TEXT }}</div>
			</div>

		</div>
	</div>
	{% endfor %}
	</div>
{% endif %}

{% if (recent|length or random|length or contest|length or commentrow|length) and not S_IN_GALLERY %}
<!--
	I request you retain the full copyright notice below including the link to www.anavaro.com.
	This not only gives respect to the large amount of time given freely by the developer
	but also helps build interest, traffic and use of phpBB Gallery. If you (honestly) cannot retain
	the full copyright I ask you at least leave in place the "Powered by phpBB Gallery" line, with
	"phpBB Gallery" linked to www.anavaro.com. If you refuse to include even this then support on my
	forums may be affected.

	phpBB Gallery, Lucifer : 2016
//-->
<div class="copyright">
	{{ lang('GALLERY_COPYRIGHT') }}
	<br />{{ lang('GALLERY_TRANSLATION_INFO') }}
</div>
<br />
{% endif %}
