<h2>{{ lang('TITLE') }}</h2>
<div class="panel">
	<div class="inner">
	<h3>{{ lang('TITLE_EXPLAIN') }}</h3>
	<form id="ucp_gallery" method="post" action="{{ S_UCP_ACTION }}">
				{% if album_row|length %}
					<ul class="topiclist missing-column">
						<li class="header">
							<dl>
								<dt>{{ lang('ALBUMS') }}</dt>
								<dd class="lastpost"><span>{{ lang('LAST_IMAGE') }}</span></dd>
								<dd class="mark">{{ lang('MARK') }}</dd>
							</dl>
						</li>
					</ul>

					<ul class="topiclist cplist missing-column responsive-show-all">
					{% for album_row in album_row %}
						<li class="row{% if album_row.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}{% if album_row.S_REPORTED %} reported{% endif %}">
							<dl>
								<dt>
									<div class="list-inner">
										<p style="overflow: hidden;">{{ lang('RRC_DISPLAY_ALBUMNAME') }}{{ lang('COLON') }} <a href="{{ album_row.U_VIEW_ALBUM }}" class="topictitle" style="font-size: 1.1em; display: inline;">{{ album_row.ALBUM_NAME }}</a><br />
										<span><label for="album_desc">{{ lang('ALBUM_DESC') }}{{ lang('COLON') }}</label>{{ album_row.ALBUM_DESC }}</span></p>
									</div>
								</dt>
									<dd class="lastpost">
										<p style="margin-bottom: -12px; overflow: hidden; text-overflow: ellipsis; line-height: normal; font-size: 1em; text-align: center;">
								{% if album_row.LAST_IMAGE %}
												{% if album_row.UC_FAKE_THUMBNAIL %}
													<a style="float: left; width: {{ FAKE_THUMB_SIZE }}px;">{{ album_row.UC_FAKE_THUMBNAIL }}</a>
												{% endif %}<br /><br />
												{{ lang('LAST_IMAGE') }}{{ lang('COLON') }} {{ album_row.UC_IMAGE_NAME }}<br />
												{{ lang('UPLOADED_BY_USER') }}{{ lang('COLON') }} {{ album_row.UPLOADER }}<br />
												&raquo; {{ album_row.LAST_IMAGE_TIME }}<br />
											{% else %}
												{{ lang('NO_IMAGES_LONG') }}
											{% endif %}
										</p>
										<br />
									</dd>
								<dd class="mark" style="padding-left: 8px;">
									<input type="checkbox" name="album_id_ary[]" value="{{ album_row.ALBUM_ID }}" />
									</dd>
							</dl>
						</li>
					{% endfor %}
					</ul>
					<div class="rightside pagination">
						<a href="#" onclick="marklist('ucp_gallery', 'album_id_ary', true); return false;">{{ lang('MARK_ALL') }}</a> :: <a href="#" onclick="marklist('ucp_gallery', 'album_id_ary', false); return false;">{{ lang('UNMARK_ALL') }}</a>
					</div>
					<br />
					<br />
				{% else %}
				<ul class="topiclist">{{ lang('ALBUMS') }}
					<li><p class="notopics">{{ lang('NO_SUBSCRIPTIONS_ALBUM') }}</p></li>
				</ul>
				{% endif %}
			<hr>
			{% if image_row|length %}
				<ul class="topiclist missing-column">
					<li class="header">
						<dl class="row-item">
							<dt>{{ lang('IMAGES') }}</dt>
							<dd class="lastpost"><span>{{ lang('LAST_COMMENT') }}</span></dd>
							<dd class="mark">{{ lang('MARK') }}</dd>
						</dl>
					</li>
				</ul>

				<ul class="topiclist cplist missing-column responsive-show-all">
				{% for image_row in image_row %}
					<li class="row{% if image_row.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}{% if image_row.S_REPORTED %} reported{% endif %}">
						<dl>
							<dt>
								<div class="list-inner" style="text-align: center;">
									<p style="margin-bottom: -12px; overflow: hidden; line-height: normal; font-size: 1em; text-align: center;">
										{% if image_row.UC_FAKE_THUMBNAIL %}
											<a style="float: left; width: {{ FAKE_THUMB_SIZE }}px;">{{ image_row.UC_FAKE_THUMBNAIL }}</a>
										{% endif %}<br /><br />
										{{ lang('IMAGE_NAME') }}{{ lang('COLON') }} <dfn>{{ lang('LAST_IMAGE') }}</dfn> {{ image_row.UC_IMAGE_NAME }}<br />
										{{ lang('UPLOADED_BY_USER') }}{{ lang('COLON') }} {{ image_row.UPLOADER }}<br />
										&raquo; {{ image_row.IMAGE_TIME }}<br />
										{{ lang('RRC_DISPLAY_ALBUMNAME') }}{{ lang('COLON') }} <a href="{{ image_row.U_VIEW_ALBUM }}" style="font-weight: bold; display: inline;">{{ image_row.ALBUM_NAME }}</a><br />
									</p>
									<br />
								</div>
							</dt>
								<dd class="lastpost">
									<p style="margin-bottom: -12px; overflow: hidden; text-overflow: ellipsis; line-height: normal; font-size: 1em; text-align: center;">
									{% if image_row.COMMENT %}
											{{ lang('LAST_COMMENT') }} {{ lang('POST_BY_AUTHOR') }}{{ lang('COLON') }} {{ image_row.LAST_COMMENT_BY }}<br />
											&raquo; {{ image_row.LAST_COMMENT_TIME }}
										{% else %}
											{{ lang('NO_COMMENTS') }}
										{% endif %}
									</p>
									<br />
								</dd>
							<dd class="mark" style="padding-left: 8px;">
								<input type="checkbox" name="image_id_ary[]" value="{{ image_row.IMAGE_ID }}" />
								</dd>
						</dl>
					</li>
				{% endfor %}
				</ul>
				<div class="rightside pagination">
					<a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', true); return false;">{{ lang('MARK_ALL') }}</a> :: <a href="#" onclick="marklist('ucp_gallery', 'image_id_ary', false); return false;">{{ lang('UNMARK_ALL') }}</a>
				</div>
				<br />
				<br />
			{% else %}
				<ul class="topiclist">{{ lang('IMAGES') }}
					<li><p class="notopics">{{ lang('NO_SUBSCRIPTIONS') }}</p></li>
				</ul>
			{% endif %}
			<hr>
			{% if PAGINATION or TOTAL_IMAGES %}
				<ul class="linklist">
					<li class="rightside pagination">
						{% if TOTAL_IMAGES %} {{ TOTAL_IMAGES }}{% endif %}
						{% if PAGE_NUMBER %}{% if PAGINATION %} &bull; <a href="#" onclick="jumpto(); return false;" title="{{ lang('JUMP_TO_PAGE') }}">{{ PAGE_NUMBER }}</a> &bull; <span>{{ PAGINATION }}</span>{% else %} &bull; {{ PAGE_NUMBER }}{% endif %}{% endif %}
					</li>
				</ul>
			{% endif %}

		<fieldset class="display-actions">
			<select name="action">
				<option value="" selected="selected">{{ lang('CHOOSE_ACTION') }}</option>
				<option value="unsubscribe">{{ lang('UNSUBSCRIBE') }}</option>
			</select>
			<input class="button2" type="submit" value="{{ lang('SUBMIT') }}" />
		</fieldset>
		{{ S_FORM_TOKEN }}
	</form>
	</div>
</div>
