{% include 'gallery/gallery_header.html' %}
<div id="phpbbgallery-image-page" class="phpbbgallery-image-page" data-gallery-image-page data-ajax-navigation="{% if S_AJAX_IMAGE_NAVIGATION %}1{% else %}0{% endif %}" data-loading-label="{{ lang('LOADING') }}">
<p class="phpbbgallery-image-navigation-status sr-only" role="status" aria-live="polite"></p>
<h2>{{ lang('IMAGE_NAME') }}{{ lang('COLON') }}<a href="{{ S_ALBUM_ACTION }}" style="display: inline;"> {{ IMAGE_NAME }}</a></h2>
{% if IMAGE_SUBTITLE %}<p class="phpbbgallery-image-subtitle">{% if U_IMAGE_SUBTITLE_SEARCH %}<a href="{{ U_IMAGE_SUBTITLE_SEARCH }}" title="{{ lang('SEARCH') }}">{{ IMAGE_SUBTITLE }}</a>{% else %}{{ IMAGE_SUBTITLE }}{% endif %}</p>{% endif %}

{% if S_STATUS_UNAPPROVED %}
<div class="post">
	<div class="inner">
		<div class="unapproved">
			{{ lang('IMAGE_NOT_APPROVED') }}
		</div>
	</div>
</div>
{% endif %}

<div class="post bg2{% if S_IMAGE_REPORTED %} reported{% endif %}">
	<div class="inner">
		<ul class="gallery-image-navigation">
			<li class="gallery-image-navigation-side gallery-image-navigation-previous">{% if U_PREV_IMAGE %}<a href="{{ U_PREV_IMAGE }}" rel="prev" data-gallery-image-navigation="previous">{% if U_PREV_IMAGE_THUMB %}<img src="{{ U_PREV_IMAGE_THUMB }}" alt="{{ PREV_IMAGE_NAME }}">{% else %}&laquo;&laquo;&nbsp;{{ PREV_IMAGE_NAME }}{% endif %}</a>{% else %}<span class="gallery-image-navigation-placeholder" aria-hidden="true"></span>{% endif %}</li>
			<li class="gallery-image-navigation-current">{% if UC_IMAGE_ACTION %}<a href="{{ UC_IMAGE_ACTION }}"{% if S_IMAGE_ACTION_NEXT %} data-gallery-image-navigation="next"{% endif %}{% if S_IMAGE_ACTION_SOURCE %} title="{{ DOWNLOAD_SOURCE_TITLE|default(lang('DOWNLOAD_SOURCE')) }}"{% endif %}>{% endif %}<img src="{{ UC_IMAGE }}" alt="{{ IMAGE_NAME }}" class="postimage"/>{% if UC_IMAGE_ACTION %}</a>{% endif %}</li>
			<li class="gallery-image-navigation-side gallery-image-navigation-next">{% if U_NEXT_IMAGE %}<a href="{{ U_NEXT_IMAGE }}" rel="next" data-gallery-image-navigation="next">{% if U_NEXT_IMAGE_THUMB %}<img src="{{ U_NEXT_IMAGE_THUMB }}" alt="{{ NEXT_IMAGE_NAME }}">{% else %}{{ NEXT_IMAGE_NAME }}&nbsp;&raquo;&raquo;{% endif %}</a>{% else %}<span class="gallery-image-navigation-placeholder" aria-hidden="true"></span>{% endif %}</li>
		</ul>
		{% if S_IMAGE_REPORTED %}<div class="postbody_album"><a href="{{ U_IMAGE_REPORTED }}"><span class="error">{{ lang('IMAGE_REPORTED') }}</span></a></div>{% endif %}
	</div>
</div>

{% if IMAGE_DESC %}
	<div id="description" class="panel">
		<div class="inner" style="text-align: center;">
			<h3>{{ lang('IMAGE_DESC') }}</h3>
			<div style="width: 100%; font-size: 1.3em;">
				{{ IMAGE_DESC }}
			</div>
		</div>
	</div>
{% endif %}

<div id="details" class="panel post">
	<div class="inner">
		<dl class="postprofile{% if S_POSTER_ONLINE %} online{% endif %}" id="profile_poster">
			<dt class="{% if POSTER_AVATAR %}has-avatar{% else %}no-avatar{% endif %}">
				<div class="avatar-container">
					{% EVENT viewtopic_body_avatar_before %}
					{% if POSTER_AVATAR %}
						{% if U_POSTER %}<a href="{{ U_POSTER }}" class="avatar">{{ POSTER_AVATAR }}</a>{% else %}<span class="avatar">{{ POSTER_AVATAR }}</span>{% endif %}
					{% endif %}
					{% EVENT viewtopic_body_avatar_after %}
				</div>
				{% EVENT viewtopic_body_post_author_before %}
				{% if not U_POSTER %}<strong>{{ POSTER_FULL }}</strong>{% else %}{{ POSTER_FULL }}{% endif %}
				{% EVENT viewtopic_body_post_author_after %}
			</dt>

			{% EVENT viewtopic_body_postrow_rank_before %}
			{% if POSTER_RANK_TITLE or POSTER_RANK_IMG %}<dd class="profile-rank">{{ POSTER_RANK_TITLE }}{% if POSTER_RANK_TITLE and POSTER_RANK_IMG %}<br />{% endif %}{{ POSTER_RANK_IMG }}</dd>{% endif %}
			{% EVENT viewtopic_body_postrow_rank_after %}

			{% if POSTER_POSTS != '' %}<dd class="profile-posts"><strong>{{ lang('POSTS') }}{{ lang('COLON') }}</strong> {{ POSTER_POSTS }}</dd>{% endif %}
			{% if POSTER_GALLERY_IMAGES != '' %}<dd><strong>{{ lang('IMAGES') }}{{ lang('COLON') }}</strong> {% if U_POSTER_GALLERY_SEARCH %}<a href="{{ U_POSTER_GALLERY_SEARCH }}">{{ POSTER_GALLERY_IMAGES }}</a>{% else %}{{ POSTER_GALLERY_IMAGES }}{% endif %}</dd>{% endif %}
			{% if POSTER_JOINED %}<dd class="profile-joined"><strong>{{ lang('JOINED') }}{{ lang('COLON') }} </strong><span style="white-space: nowrap;"> {{ POSTER_JOINED }}</span></dd>{% endif %}
			{% if POSTER_WARNINGS %}<dd class="profile-warnings"><strong>{{ lang('WARNINGS') }}{{ lang('COLON') }}</strong> {{ POSTER_WARNINGS }}</dd>{% endif %}
			{% if U_ACP and POSTER_IP %}<dd><strong>{{ lang('IP') }}{{ lang('COLON') }}</strong> {% include '@phpbbgallery_core/gallery/ip_privacy_toggle.html' with { ip_value: POSTER_IP } %}{% if U_POSTER_WHOIS %} [ <a href="{{ U_POSTER_WHOIS }}" onclick="popup(this.href, 750, 500); return false;">{{ lang('WHOIS') }}</a> ]{% endif %}</dd>{% endif %}

			{% if S_PROFILE_FIELD1 %}
				<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
				<dd><strong>{{ PROFILE_FIELD1_NAME }}{{ lang('COLON') }}</strong> {{ PROFILE_FIELD1_VALUE }}</dd>
			{% endif %}

			{% EVENT viewtopic_body_postrow_custom_fields_before %}
			{% for custom_fields in custom_fields|default([]) %}
				<dd class="profile-custom-field profile-{{ custom_fields.PROFILE_FIELD_IDENT }}"><strong>{{ custom_fields.PROFILE_FIELD_NAME }}{{ lang('COLON') }}</strong> {{ custom_fields.PROFILE_FIELD_VALUE }}</dd>
			{% endfor %}
			{% EVENT viewtopic_body_postrow_custom_fields_after %}

			{% EVENT viewtopic_body_contact_fields_before %}
			{% if not S_IS_BOT and contact|length %}
				<dd class="profile-contact">
					<strong>{{ lang('CONTACT') }}{{ lang('COLON') }}</strong>
					<div class="dropdown-container dropdown-left">
						<a href="#" class="dropdown-trigger" title="{{ POSTER_USERNAME }}">
							<i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">POSTER_USERNAME}</span>
						</a>
						<div class="dropdown">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<div class="dropdown-contents contact-icons">
								{% for contact in contact %}
									{% set REMAINDER = contact.S_ROW_COUNT % 4 %}
									{% set S_LAST_CELL = ((REMAINDER == 3) or (contact.S_LAST_ROW and contact.S_NUM_ROWS < 4)) %}
									{% if REMAINDER == 0 %}
									<div>
										{% endif %}
										<a href="{% if contact.U_CONTACT %}{{ contact.U_CONTACT }}{% else %}{{ U_POST_AUTHOR }}{% endif %}" title="{{ contact.NAME }}"{% if S_LAST_CELL %} class="last-cell"{% endif %}{% if contact.ID == 'jabber' %} onclick="popup(this.href, 750, 320); return false;"{% endif %}>
										<span class="contact-icon {{ contact.ID }}-icon">{{ contact.NAME }}</span>
										</a>
										{% if REMAINDER == 3 or contact.S_LAST_ROW %}
									</div>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</dd>
			{% endif %}
			{% EVENT viewtopic_body_contact_fields_after %}
		</dl>
		<div class="postbody">
			<ul class="post-buttons">
				{% EVENT phpbbgallery_core_viewimage_actions %}
				{% if U_DOWNLOAD_SOURCE %}<li><a href="{{ U_DOWNLOAD_SOURCE }}" title="{{ DOWNLOAD_SOURCE_TITLE|default(lang('DOWNLOAD_SOURCE')) }}" class="button button-icon-only"><i class="icon fa-download fa-fw" aria-hidden="true"></i><span class="sr-only">{{ DOWNLOAD_SOURCE_TITLE|default(lang('DOWNLOAD_SOURCE')) }}</span></a></li>{% endif %}
				<!--<li><a href="{{ U_EDIT }}" title="{{ lang('EDIT_IMAGE') }}" class="button icon-button icon-notification"><span>{{ lang('EDIT_IMAGE') }}</span></a></li>-->
				{% if U_EDIT %}<li><a href="{{ U_EDIT }}" title="{{ lang('EDIT_IMAGE') }}" class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('EDIT_IMAGE') }}</span></a></li>{% endif %}
				{% if U_DELETE %}<li><a href="{{ U_DELETE }}" title="{{ L_DELETE_IMAGE }}" class="button button-icon-only"><i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ L_DELETE_IMAGE }}</span></a></li>{% endif %}
				{% if U_REPORT %}<li><a href="{{ U_REPORT }}" title="{{ lang('REPORT_IMAGE') }}" class="button button-icon-only"><i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('REPORT_IMAGE') }}</span></a></li>{% endif %}
			</ul>
			<h2 style= "font-size: 1.5em; font-weight: bold;">{{ lang('IMAGE_NAME') }}{{ lang('COLON') }}<a href="{{ S_ALBUM_ACTION }}" style="display: inline; line-height: 1.2em; font-weight: bold;"> {{ IMAGE_NAME }}</a></h2>
			<fieldset class="fields1 anti-postbody">
				{% if IMAGE_AWARD %}
				<dl>
					<dt><label>{{ IMAGE_AWARD_TITLE }}{{ lang('COLON') }}</label></dt>
					<dd>{{ IMAGE_AWARD }}</dd>
				</dl>
				{% endif %}
				<dl>
					<dt><label>{{ lang('UPLOADED_ON_DATE') }}{{ lang('COLON') }}</label></dt>
					<dd>{{ IMAGE_TIME }}</dd>
				</dl>
				{% if IMAGE_RESOLUTION %}
				<dl>
					<dt><label>{{ lang('IMAGE_RESOLUTION') }}{{ lang('COLON') }}</label></dt>
					<dd>{{ IMAGE_RESOLUTION }}</dd>
				</dl>
				{% endif %}
				{% if IMAGE_FILE_TYPE %}
				<dl>
					<dt><label>{{ lang('IMAGE_FILE_TYPE') }}{{ lang('COLON') }}</label></dt>
					<dd>{{ IMAGE_FILE_TYPE }}</dd>
				</dl>
				{% endif %}
				{% if IMAGE_URL %}
				<dl>
					<dt><label>{{ lang('IMAGE_URL') }}{{ lang('COLON') }}</label></dt>
					<dd><input type="text" size="28" value="{{ IMAGE_URL }}" class="inputbox" onclick="this.focus();this.select();" /></dd>
				</dl>
				{% endif %}
				<dl>
					<dt><label>{{ lang('GALLERY_VIEWS') }}{{ lang('COLON') }}</label></dt>
					<dd>{{ IMAGE_VIEW }}</dd>
				</dl>
				{% EVENT phpbbgallery_core_viewimage_statistics %}
				{% if IMAGE_BBCODE %}
				<dl>
					<dt><label>{{ lang('IMAGE_BBCODE') }}{{ lang('COLON') }}</label></dt>
					<dd><input type="text" size="28" value="{{ IMAGE_BBCODE }}" class="inputbox" onclick="this.focus();this.select();" /></dd>
					{% if IMAGE_IMGURL_BBCODE %}
						<dd><input type="text" size="28" value="{{ IMAGE_IMGURL_BBCODE }}" class="inputbox" onclick="this.focus();this.select();" /></dd>
					{% endif %}
				</dl>
				{% endif %}
				{% if S_RATING_VISIBLE %}
				<dl>
					<dt><label>{{ lang('RATING') }}{{ lang('COLON') }}</label></dt>
					<dd><span data-gallery-rating-summary>{{ IMAGE_RATING }}{% if S_YOUR_RATING %} ({{ lang('YOUR_RATING') }}{{ lang('COLON') }} {{ S_YOUR_RATING }}){% endif %}</span></dd>
				</dl>
				{% endif %}
				{% if S_ALLOWED_TO_RATE %}
				<form id="gallery-rating-form" action="{{ S_RATE_ACTION }}" method="post">
				<dl>
					<dt><label>{{ lang('YOUR_RATING') }}{{ lang('COLON') }}</label></dt>
					<dd>
						{% include '@phpbbgallery_core/gallery/rating_stars_ajax.html' %}
					</dd>
				</dl>
				{{ S_FORM_TOKEN }}
				</form>
				{% endif %}
			</fieldset>
			{% EVENT phpbbgallery_core_viewimage_details %}
		</div>
	</div>
	{% if S_QUICK_MOD %}
	<form method="post" action="{{ S_MOD_ACTION }}">
	<fieldset class="quickmod" style="float: none; width: 100%;">
		<label for="quick-mod-select">{{ lang('QUICK_MOD') }}{{ lang('COLON') }}</label>
		<select name="action" id="quick-mod-select">
			{% if S_QM_MOVE %}<option value="images_move">{{ lang('QUEUE_A_MOVE') }}</option>{% endif %}
			{% if S_QM_EDIT %}<option value="image_edit">{{ lang('EDIT_IMAGE') }}</option>{% endif %}
			{% if S_QM_STATUS %}
				{% if not S_STATUS_UNAPPROVED %}<option value="images_unapprove">{{ lang('QUEUE_A_UNAPPROVE') }}</option>{% endif %}
				{% if not S_STATUS_APPROVED %}<option value="images_approve">{{ lang('QUEUE_A_APPROVE') }}</option>{% endif %}
				{% if not S_STATUS_LOCKED %}<option value="images_lock">{{ lang('QUEUE_A_LOCK') }}</option>{% endif %}
			{% endif %}
			{% if S_QM_DELETE %}<option value="images_delete">{{ lang('QUEUE_A_DELETE') }}</option>{% endif %}
			{% if S_QM_REPORT and S_IMAGE_REPORTED %}<option value="report_details">{{ lang('READ_REPORT') }}</option>{% endif %}
		</select>
		<input type="submit" value="{{ lang('GO') }}" class="button2" />
		{{ S_FORM_TOKEN }}
	</fieldset>
	</form>
	{% endif %}
</div>

{% if S_ALLOWED_READ_COMMENTS %}

{% if not commentrow|length or S_COMMENTS_DISABLED %}
	<div id="comments" class="panel bg2">
		<div class="inner" style="text-align: center;">
			<strong>{% if S_COMMENTS_DISABLED %}{{ lang('IMAGE_COMMENTS_DISABLED') }}{% else %}{{ lang('NO_COMMENTS') }}{% endif %}</strong>
		</div>
	</div>
{% endif %}

{% if commentrow|length %}
	<a id="comment_{{ commentrow.COMMENT_ID }}" class="anchor"></a>

	{% if pagination|length or TOTAL_COMMENTS %}
	<div class="topic-actions" style="margin-bottom: 4em;">
		<div class="pagination">
			{{ TOTAL_COMMENTS }}
			{% if pagination|length %}
				{% include 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>
	{% endif %}

	{% for commentrow in commentrow %}
	<div class="post has-profile {% if commentrow.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}{% if commentrow.S_ONLINE %} online{% endif %}">
	<a id="comment_{{ commentrow.COMMENT_ID }}" class="anchor"></a>
		<div class="inner">
			<dl class="postprofile{% if commentrow.S_POSTER_ONLINE %} online{% endif %}" id="profile_poster">
				<dt class="{% if commentrow.POSTER_AVATAR %}has-avatar{% else %}no-avatar{% endif %}">
					<div class="avatar-container">
						{% EVENT viewtopic_body_avatar_before %}
						{% if commentrow.POSTER_AVATAR %}
							{% if commentrow.U_POSTER %}<a href="{{ commentrow.U_POSTER }}" class="avatar">{{ commentrow.POSTER_AVATAR }}</a>{% else %}<span class="avatar">{{ commentrow.POSTER_AVATAR }}</span>{% endif %}
						{% endif %}
						{% EVENT viewtopic_body_avatar_after %}
					</div>
					{% EVENT viewtopic_body_post_author_before %}
					{% if not commentrow.U_POSTER %}<strong>{{ commentrow.POSTER_FULL }}</strong>{% else %}{{ commentrow.POSTER_FULL }}{% endif %}
					{% EVENT viewtopic_body_post_author_after %}
				</dt>

				{% EVENT viewtopic_body_postrow_rank_before %}
				{% if commentrow.POSTER_RANK_TITLE or commentrow.POSTER_RANK_IMG %}<dd class="profile-rank">{{ commentrow.POSTER_RANK_TITLE }}{% if commentrow.POSTER_RANK_TITLE and commentrow.POSTER_RANK_IMG %}<br />{% endif %}{{ commentrow.POSTER_RANK_IMG }}</dd>{% endif %}
				{% EVENT viewtopic_body_postrow_rank_after %}

				{% if commentrow.POSTER_POSTS != '' %}<dd class="profile-posts"><strong>{{ lang('POSTS') }}{{ lang('COLON') }}</strong> {{ commentrow.POSTER_POSTS }}</dd>{% endif %}
				{% if commentrow.POSTER_GALLERY_IMAGES != '' %}<dd><strong>{{ lang('IMAGES') }}{{ lang('COLON') }}</strong> {% if commentrow.U_POSTER_GALLERY_SEARCH %}<a href="{{ commentrow.U_POSTER_GALLERY_SEARCH }}">{{ POSTER_GALLERY_IMAGES }}</a>{% else %}{{ POSTER_GALLERY_IMAGES }}{% endif %}</dd>{% endif %}
				{% if commentrow.POSTER_JOINED %}<dd class="profile-joined"><strong>{{ lang('JOINED') }}{{ lang('COLON') }} </strong><span style="white-space: nowrap;"> {{ commentrow.POSTER_JOINED }}</span></dd>{% endif %}
				{% if commentrow.POSTER_WARNINGS %}<dd class="profile-warnings"><strong>{{ lang('WARNINGS') }}{{ lang('COLON') }}</strong> {{ commentrow.POSTER_WARNINGS }}</dd>{% endif %}
				{% if U_ACP and commentrow.POSTER_IP %}<dd><strong>{{ lang('IP') }}{{ lang('COLON') }}</strong> {% include '@phpbbgallery_core/gallery/ip_privacy_toggle.html' with { ip_value: commentrow.POSTER_IP } %}{% if commentrow.U_WHOIS %} [ <a href="{{ commentrow.U_WHOIS }}" onclick="popup(this.href, 750, 500); return false;">{{ lang('WHOIS') }}</a> ]{% endif %}</dd>{% endif %}

				{% if commentrow.S_PROFILE_FIELD1 %}
				<!-- Use a construct like this to include admin defined profile fields. Replace FIELD1 with the name of your field. -->
				<dd><strong>{{ commentrow.PROFILE_FIELD1_NAME }}{{ lang('COLON') }}</strong> {{ commentrow.PROFILE_FIELD1_VALUE }}</dd>
				{% endif %}

				{% EVENT viewtopic_body_postrow_custom_fields_before %}
				{% for custom_fields in commentrow.custom_fields|default([]) %}
					<dd class="profile-custom-field profile-{{ custom_fields.PROFILE_FIELD_IDENT }}"><strong>{{ custom_fields.PROFILE_FIELD_NAME }}{{ lang('COLON') }}</strong> {{ custom_fields.PROFILE_FIELD_VALUE }}</dd>
				{% endfor %}
				{% EVENT viewtopic_body_postrow_custom_fields_after %}

				{% EVENT viewtopic_body_contact_fields_before %}
				{% if not S_IS_BOT and commentrow.contact|length %}
				<dd class="profile-contact">
					<strong>{{ lang('CONTACT') }}{{ lang('COLON') }}</strong>
					<div class="dropdown-container dropdown-left">
						<a href="#" class="dropdown-trigger" title="{{ commentrow.POSTER_USERNAME }}">
							<i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">{{ commentrow.POSTER_USERNAME }}</span>
						</a>
						<div class="dropdown">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<div class="dropdown-contents contact-icons">
								{% for contact in commentrow.contact %}
								{% set REMAINDER = contact.S_ROW_COUNT % 4 %}
								{% set S_LAST_CELL = ((REMAINDER == 3) or (contact.S_LAST_ROW and contact.S_NUM_ROWS < 4)) %}
								{% if REMAINDER == 0 %}
								<div>
									{% endif %}
									<a href="{% if contact.U_CONTACT %}{{ contact.U_CONTACT }}{% else %}{{ commentrow.U_POST_AUTHOR }}{% endif %}" title="{{ contact.NAME }}"{% if S_LAST_CELL %} class="last-cell"{% endif %}{% if contact.ID == 'jabber' %} onclick="popup(this.href, 750, 320); return false;"{% endif %}>
									<span class="contact-icon {{ contact.ID }}-icon">{{ contact.NAME }}</span>
									</a>
									{% if REMAINDER == 3 or contact.S_LAST_ROW %}
								</div>
								{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
				</dd>
				{% endif %}
				{% EVENT viewtopic_body_contact_fields_after %}
			</dl>
			<div class="postbody" id="post_content{{ commentrow.COMMENT_ID }}">
				{% if commentrow.U_DELETE or commentrow.U_EDIT or commentrow.U_WHOIS or commentrow.U_QUOTE %}
					<br />
					<ul class="post-buttons">
						{% if commentrow.U_EDIT %}<li><a href="{{ commentrow.U_EDIT }}" title="{{ lang('EDIT_COMMENT') }}" class="button button-icon-only"><i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('EDIT_COMMENT') }}</span></a></li>{% endif %}
						{% if commentrow.U_DELETE %}<li><a href="{{ commentrow.U_DELETE }}" title="{{ lang('DELETE_COMMENT') }}" class="button button-icon-only"><i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE_COMMENT') }}</span></a></li>{% endif %}
						{% if commentrow.U_WHOIS %}<li><a href="{{ commentrow.U_WHOIS }}" title="{{ lang('WHOIS') }}" onclick="popup(this.href, 750, 500); return false;" class="button button-icon-only"><i class="icon fa-info-circle fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('WHOIS') }}</span></a></li>{% endif %}
						{% if commentrow.U_QUOTE %}<li><a href="{{ commentrow.U_QUOTE }}" title="{{ lang('QUOTE_COMMENT') }}" class="button button-icon-only"><i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('QUOTE_COMMENT') }}</span></a></li>{% endif %}
					</ul>
				{% endif %}
				<p class="author">{% if S_IS_BOT %}<i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i>{{ lang('COMMENT') }}&nbsp;<span class="sr-only">{{ commentrow.MINI_POST }}</span>{% else %}<a href="{{ commentrow.U_COMMENT }}" title="{{ lang('COMMENT') }}"><i class="icon fa-file fa-fw icon-lightgray icon-md" aria-hidden="true"></i>{{ lang('COMMENT') }}&nbsp;<span class="sr-only">{{ commentrow.MINI_POST }}</span></a>{% endif %}<span style="white-space: nowrap;">{{ lang('POST_BY_AUTHOR') }}&nbsp;{{ commentrow.POSTER_FULL }}</span> &raquo;<span style="white-space: nowrap;"> {{ commentrow.TIME }}</span></p>
				<div class="content">{{ commentrow.TEXT }}</div>
				{% if commentrow.EDIT_INFO %}<div class="notice">{{ commentrow.EDIT_INFO }}</div>{% endif %}
				{% if commentrow.SIGNATURE %}<div id="sig{{ commentrow.COMMENT_ID }}" class="signature">{{ commentrow.SIGNATURE }}</div>{% endif %}
			</div>
			{% EVENT viewtopic_body_postrow_back2top_before %}
				<div class="back2top">
					{% EVENT viewtopic_body_postrow_back2top_prepend %}
						<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
							<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
							<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
						</a>
					{% EVENT viewtopic_body_postrow_back2top_append %}
				</div>
			{% EVENT viewtopic_body_postrow_back2top_after %}
		</div>
	</div>
	{% endfor %}
	<form action="{{ S_ALBUM_ACTION }}" method="post">
	<fieldset class="display-options" style="margin-top: 0; ">
		<label>{{ lang('ORDER') }}{{ lang('COLON') }} <select name="sort_order"><option value="ASC"{% if SORT_ASC %} selected="selected"{% endif %}>{{ lang('SORT_ASCENDING') }}</option><option value="DESC"{% if not SORT_ASC %} selected="selected"{% endif %}>{{ lang('SORT_DESCENDING') }}</option></select>&nbsp;<input type="submit" name="submit" value="{{ lang('GO') }}" class="button2" /></label>
	</fieldset>
	</form>
<hr />

	{% if pagination|length or TOTAL_COMMENTS %}
	<div class="topic-actions" style="margin-bottom: 4em;">
		<div class="pagination">
			{{ TOTAL_COMMENTS }}
			{% if pagination|length %}
				{% include 'pagination.html' %}
			{% else %}
				&bull; {{ PAGE_NUMBER }}
			{% endif %}
		</div>
	</div>
	{% endif %}

{% endif %}

{% if not S_IS_BOT and S_ALLOWED_TO_COMMENT %}
	{% if S_ALLOWED_TO_COMMENT and not S_HIDE_COMMENT_INPUT %}
		<form method="post" action="{{ S_COMMENT_ACTION }}" id="qr_postform">
		{% EVENT quickreply_editor_panel_before %}
			<div class="panel">
				<div class="inner">
					<h2 class="quickreply-title">{{ lang('POST_COMMENT') }}</h2>
					<fieldset class="fields1">
						<div class="gallery-comment-guidance">
							<span id="gallery-comment-limit">{{ lang('COMMENT_LENGTH') }}</span>
							<output id="gallery-comment-counter" class="gallery-comment-counter" data-gallery-comment-counter-output hidden aria-live="polite" aria-atomic="true"></output>
						</div>
						{% if not S_USER_LOGGED_IN %}
							<dl>
								<dt><label>{{ lang('USERNAME') }}{{ lang('COLON') }}</label></dt>
								<dd><input class="inputbox autowidth" type="text" name="username" maxlength="32" /></dd>
							</dl>
						{% endif %}
						{% if CAPTCHA_TEMPLATE %}
							{% include ''~ CAPTCHA_TEMPLATE ~'' %}
						{% endif %}
						{% EVENT quickreply_editor_message_before %}
						<div id="message-box" class="message-box">
							<textarea style="height: 9em;" name="message" rows="7" cols="76" tabindex="3" class="inputbox" id="message" data-gallery-comment-counter data-comment-max-length="{{ COMMENT_MAX_LENGTH }}" aria-describedby="gallery-comment-limit gallery-comment-counter"></textarea>
						</div>
						<div><label for="attach_sig"><input type="checkbox" name="attach_sig" id="attach_sig"{{ S_SIGNATURE_CHECKED }} /> {{ lang('ATTACH_SIG') }}</label></div>
						{% EVENT quickreply_editor_message_after %}
					</fieldset>
					{% EVENT viewtopic_body_postrow_back2top_before %}
						<div class="back2top">
							{% EVENT viewtopic_body_postrow_back2top_prepend %}
								<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}" style="margin-top: 15px;">
									<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
									<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
								</a>
							{% EVENT viewtopic_body_postrow_back2top_append %}
						</div>
					{% EVENT viewtopic_body_postrow_back2top_after %}
					<fieldset class="submit-buttons">
							{{ S_FORM_TOKEN }}
							{{ QR_HIDDEN_FIELDS }}
							<input type="submit" accesskey="f" tabindex="6" name="preview" value="{{ lang('FULL_EDITOR_GALLERY') }}" class="button2" id="qr_full_editor" />&nbsp;
							<input type="submit" accesskey="s" tabindex="7" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />&nbsp;
					</fieldset>
				</div>
			</div>
		{% EVENT quickreply_editor_panel_after %}
		</form>
	{% elseif S_HIDE_COMMENT_INPUT %}
		<div class="panel"><div class="inner">{{ COMMENT_UNAVAILABLE_MESSAGE }}</div></div>
	{% endif %}
{% endif %}
{% endif %}

<p class="jumpbox-return"><a href="{{ U_RETURN_LINK }}" class="left-box arrow-{{ S_CONTENT_FLOW_BEGIN }}" accesskey="r"><i class="icon fa-angle-left fa-fw icon-black" aria-hidden="true"></i> {{ S_RETURN_LINK }} {{ lang('ALBUM') }}</a> </p>
{% if ALBUM_JUMPBOX %}
<form method="post" id="jumpbox" action="{{ S_JUMPBOX_ACTION }}" onsubmit="if(document.jumpbox.album_id.value == -1){return false;}">
	<fieldset class="jumpbox">
		<label for="album_id" accesskey="album_id">{{ lang('JUMP_TO') }}{{ lang('COLON') }}</label>
		<select name="album_id" id="album_id" onchange="if(this.options[this.selectedIndex].value != -1){ document.forms['jumpbox'].submit() }">
			{{ ALBUM_JUMPBOX }}
		</select>
		<input type="submit" value="{{ lang('GO') }}" class="button2" />
	</fieldset>
</form>
{% else %}
<br /><br />
{% endif %}
<br />
</div>
{% include 'gallery/gallery_footer.html' %}
{% if S_AJAX_IMAGE_NAVIGATION %}{% INCLUDEJS '@phpbbgallery_core/js/image_navigation.js' %}{% endif %}
{% INCLUDEJS '@phpbbgallery_core/js/comment_counter.js' %}
{% INCLUDEJS '@phpbbgallery_core/js/rating.js' %}
