{% include 'overall_header.html' %}

<a name="maincontent"></a>

<h1>{{ ACP_GALLERY_TITLE }}</h1>
<p>{{ ACP_GALLERY_TITLE_EXPLAIN }}</p>

<form id="acp_gallery" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('MANAGE_CRASHED_IMAGES') }}</legend>
		<dl>
			<dt><label{% if sourcerow|length %} for="source"{% endif %}>{{ lang('MISSING_SOURCE') }}{{ lang('COLON') }}</label>
				<br /><span><a href="{{ CHECK_SOURCE }}">{{ lang('CHECK') }}</a></span></dt>
			<dd>{% if not sourcerow|length %}
				{{ lang('CHECK_SOURCE_EXPLAIN') }}
			{% else %}
				<select id="source" name="source[]" multiple="multiple" size="10">
					{% for sourcerow in sourcerow %}<option value="{{ sourcerow.IMAGE_ID }}">{{ lang('IMAGE_ID') }}{{ lang('COLON') }} {{ sourcerow.IMAGE_ID }} - {{ sourcerow.IMAGE_NAME }}</option>{% endfor %}
				</select>
			{% endif %}</dd>
		</dl>
		<dl>
			<dt><label{% if entryrow|length %} for="entry"{% endif %}>{{ lang('MISSING_ENTRY') }}{{ lang('COLON') }}</label>
				<br /><span><a href="{{ CHECK_ENTRY }}">{{ lang('CHECK') }}</a></span></dt>
			<dd>{% if not entryrow|length %}
				{{ lang('CHECK_ENTRY_EXPLAIN') }}
			{% else %}
				<select id="entry" name="entry[]" multiple="multiple" size="10">
					{% for entryrow in entryrow %}<option value="{{ entryrow.FILE_NAME }}">{{ entryrow.FILE_NAME }}</option>{% endfor %}
				</select>
				{% if ACP_IMPORT_INSTALLED %}
				<dd><input name="move_to_import" class="radio" type="checkbox" id="move_to_import" value="1"><label for="move_to_import">{{ lang('MOVE_TO_IMPORT') }}</label>
				{% endif %}
			{% endif %}</dd>
		</dl>

		{% if entryrow|length or sourcerow|length %}
		<p class="submit-buttons">
			<input class="button1" type="submit" name="delete" value="{{ lang('DELETE') }}" />
		</p>
		{% endif %}
	</fieldset>

	<fieldset>
		<legend>{{ lang('MANAGE_CRASHED_ENTRIES') }}</legend>
		<dl>
			<dt><label{% if authorrow|length %} for="author"{% endif %}>{{ lang('MISSING_AUTHOR') }}{{ lang('COLON') }}</label></dt>
			<dd>{% if not authorrow|length %}
				{{ lang('CHECK_AUTHOR_EXPLAIN') }}
			{% else %}
				<select id="author" name="author[]" multiple="multiple" size="10">
					{% for authorrow in authorrow %}<option value="{{ authorrow.IMAGE_ID }}">{{ lang('IMAGE_ID') }}{{ lang('COLON') }} {{ authorrow.IMAGE_ID }} - {{ lang('AUTHOR') }}{{ lang('COLON') }} {{ authorrow.AUTHOR_NAME }}</option>{% endfor %}
				</select>
			{% endif %}</dd>
		</dl>
		<dl>
			<dt><label{% if commentrow|length %} for="comment"{% endif %}>{{ lang('MISSING_AUTHOR_C') }}{{ lang('COLON') }}</label></dt>
			<dd>{% if not commentrow|length %}
				{{ lang('CHECK_COMMENT_EXPLAIN') }}
			{% else %}
				<select id="comment" name="comment[]" multiple="multiple" size="10">
					{% for commentrow in commentrow %}<option value="{{ commentrow.COMMENT_ID }}">{{ lang('COMMENT_ID') }}{{ lang('COLON') }} {{ commentrow.COMMENT_ID }} - {{ lang('IMAGE_ID') }}{{ lang('COLON') }} {{ commentrow.IMAGE_ID }} - {{ lang('AUTHOR') }}{{ lang('COLON') }} {{ commentrow.AUTHOR_NAME }}</option>{% endfor %}
				</select>
			{% endif %}</dd>
		</dl>
		{% if commentrow|length or authorrow|length %}
		<dl>
			<dt><label for="prune_rating_avg_check">{{ lang('MOVE_TO_USER') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('MOVE_TO_USER_EXP') }}</span></dt>
			<dd><input class="inputbox autowidth" type="text" name="new_author" size="15" value="" /></dd>
		</dl>
		<p class="submit-buttons">
			<input class="button1" type="submit" name="submit" value="{{ lang('CHANGE_AUTHOR_TO_GUEST') }}" />
			<input class="button1" type="submit" name="delete" value="{{ lang('DELETE') }}" />
		</p>
		{% endif %}
	</fieldset>

	<fieldset>
		<legend>{{ lang('MANAGE_PERSONALS') }}</legend>
		<dl>
			<dt><label{% if personalrow|length %} for="personal_missing"{% endif %}>{{ lang('MISSING_OWNER') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('MISSING_OWNER_EXP') }}</span></dt>
			<dd>{% if not personalrow|length %}
				{{ lang('CHECK_PERSONALS_EXPLAIN') }}
			{% else %}
				<select id="personal_missing" name="personal[]" multiple="multiple" size="10">
					{% for personalrow in personalrow %}<option value="{{ personalrow.USER_ID }}">{{ lang('ALBUM_ID') }}{{ lang('COLON') }} {{ personalrow.ALBUM_ID }} - {{ lang('AUTHOR') }}{{ lang('COLON') }} {{ personalrow.AUTHOR_NAME }}</option>{% endfor %}
				</select>
			{% endif %}</dd>
		</dl>
		<dl>
			<dt><label{% if personal_bad_row|length %} for="personal_bad"{% endif %}>{{ lang('PERSONAL_ALBUMS') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('MISSING_OWNER_EXP') }}</span></dt>
			<dd>{% if not personal_bad_row|length %}
				{{ lang('CHECK_PERSONALS_BAD_EXPLAIN') }}
			{% else %}
				<select id="personal_bad" name="personal_bad[]" multiple="multiple" size="10">
					{% for personal_bad_row in personal_bad_row %}<option value="{{ personal_bad_row.USER_ID }}">{{ lang('ALBUM_ID') }}{{ lang('COLON') }} {{ personal_bad_row.ALBUM_ID }} - {{ lang('AUTHOR') }}{{ lang('COLON') }} {{ personal_bad_row.AUTHOR_NAME }} - {{ lang('IMAGES') }}{{ lang('COLON') }} {{ personal_bad_row.IMAGES }}</option>{% endfor %}
				</select>
			{% endif %}</dd>
		</dl>

		{% if personalrow|length or personal_bad_row|length %}
		<p class="submit-buttons">
			<input class="button1" type="submit" name="delete" value="{{ lang('DELETE') }}" />
		</p>
		{% endif %}
	</fieldset>

	{% if S_SELECT_ALBUM %}
	<fieldset>
		<legend>{{ lang('PRUNE_ALBUMS') }}</legend>
		<dl>
			<dt><label for="prune_album_ids">{{ lang('SELECT_ALBUMS') }}{{ lang('COLON') }}</label></dt>
			<dd><select id="prune_album_ids" name="prune_album_ids[]" multiple="multiple" size="10">{{ S_SELECT_ALBUM }}</select></dd>
		</dl>
		<dl>
			<dt><label for="prune_username_check">{{ lang('PRUNE_USERNAME') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('PRUNE_USERNAME_EXP') }}</span></dt>
			<dd><input class="radio" type="checkbox" id="prune_username_check" name="prune_username_check" value="1" /> <label for="prune_username_check">{{ lang('PRUNE_CHECK_OPTION') }}</label></dd>
			<dd><textarea id="prune_usernames" name="prune_usernames" rows="5" cols="5"></textarea></dd>
			<dd><div style="float:{{ S_CONTENT_FLOW_END }};">[ <a href="{{ U_FIND_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('FIND_USERNAME') }}</a> ]</div><label><input type="checkbox" class="radio" id="anonymous" name="prune_anonymous" value="{{ ANONYMOUS_USER_ID }}" /> {{ lang('SELECT_ANONYMOUS') }}</label></dd>
		</dl>
		<dl>
			<dt><label for="prune_time_check">{{ lang('PRUNE_TIME') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('PRUNE_TIME_EXP') }}</span></dt>
			<dd><input class="radio" type="checkbox" id="prune_time_check" name="prune_time_check" value="1" /> <label for="prune_time_check">{{ lang('PRUNE_CHECK_OPTION') }}</label></dd>
			<dd><input class="inputbox autowidth" type="text" name="prune_time" size="15" value="" /></dd>
		</dl>
		<dl>
			<dt><label for="prune_comments_check">{{ lang('PRUNE_COMMENTS') }}{{ lang('COLON') }}</label></dt>
			<dd><input class="radio" type="checkbox" id="prune_comments_check" name="prune_comments_check" value="1" /> <label for="prune_comments_check">{{ lang('PRUNE_CHECK_OPTION') }}</label></dd>
			<dd><input class="inputbox autowidth" type="text" name="prune_comments" size="15" value="" /></dd>
		</dl>
		<dl>
			<dt><label for="prune_ratings_check">{{ lang('PRUNE_RATINGS') }}{{ lang('COLON') }}</label></dt>
			<dd><input class="radio" type="checkbox" id="prune_ratings_check" name="prune_ratings_check" value="1" /> <label for="prune_ratings_check">{{ lang('PRUNE_CHECK_OPTION') }}</label></dd>
			<dd><input class="inputbox autowidth" type="text" name="prune_ratings" size="15" value="" /></dd>
		</dl>
		<dl>
			<dt><label for="prune_rating_avg_check">{{ lang('PRUNE_RATING_AVG') }}{{ lang('COLON') }}</label>
				<br /><span>{{ lang('PRUNE_RATING_AVG_EXP') }}</span></dt>
			<dd><input class="radio" type="checkbox" id="prune_rating_avg_check" name="prune_rating_avg_check" value="1" /> <label for="prune_rating_avg_check">{{ lang('PRUNE_CHECK_OPTION') }}</label></dd>
			<dd><input class="inputbox autowidth" type="text" name="prune_rating_avg" size="15" value="" /></dd>
		</dl>

		<p class="submit-buttons">
			<input class="button1" type="submit" name="prune" value="{{ lang('PRUNE') }}" />
		</p>
	</fieldset>
	{% endif %}
	{{ S_FORM_TOKEN }}
</form>

<form id="action_migrate_legacy_bbcodes_form" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<legend>{{ lang('GALLERY_LEGACY_BBCODE_MIGRATE') }}</legend>
		<dl>
			<dt><label for="action_migrate_legacy_bbcodes">{{ lang('GALLERY_LEGACY_BBCODE_MIGRATE') }}</label>
				<br /><span>{{ lang('GALLERY_LEGACY_BBCODE_MIGRATE_EXPLAIN', ACTIVE_BBCODE_TAG) }}</span></dt>
			<dd>
				<input type="hidden" name="action" value="migrate_legacy_bbcodes" />
				<input class="button2" type="submit" id="action_migrate_legacy_bbcodes" name="action_migrate_legacy_bbcodes" value="{{ lang('RUN') }}" />
			</dd>
		</dl>
	</fieldset>
</form>

{% include 'overall_footer.html' %}
